<div class="main-container">
    <div class="middle-container">
        <div class="page-heading">
            <div class="heading-text bc-space">
                <div class="back-btn" (click)="back()">
                    <a mat-button ><i class="material-icons">west</i></a>
                </div>
                <h2>Pop Gift</h2>
                <div *ngIf="id == 0">
                    <p>Add New</p>
                </div>
                <div *ngIf="id != 0">
                    <p>update</p>
                </div>





                <!-- <div  *ngIf="id == 0" class="heading-text">
                    <h2>Pop Gift</h2>
                    <div *ngIf="id == 0">
                        <p>Add New</p>
                    </div>
                </div>
                
                <div *ngIf="id != 0" class="heading-text bc-space">
                    <div class="back-btn" (click)="back()">
                        <a mat-button ><i class="material-icons">west</i></a>
                    </div> 
                    <h2>update</h2>
                </div> -->






            </div>
        </div>
    </div>


    <div class="container-outer">
        <form #f="ngForm" (ngSubmit)="((data.qty_stock>0) &&(f.valid && add_gift()))">
            <div class="container tab-container">


                <div class="row">
                    <div class="col s8 offset-s2">
                        <div class="sprate-box cs-form">
                            <div class="cs-heading">
                                <h2>Basic Information</h2>
                                <span class="required">Indicates required fields ( <sup>*</sup> )</span>
                            </div>
                            <mat-divider class="left-right-15 mt10"></mat-divider>
                            <div class="row mt10">
                                <div class="col s12">
                                    <div class="row">
                                        <div class="col s8">
                                            <mat-form-field class="cs-input" appearance="outline">
                                                <mat-label>Item Name</mat-label>
                                                <input matInput placeholder="Type Here ..." type="text" name="item_name"
                                                    #item_name="ngModel" [(ngModel)]="data.item_name" required>
                                            </mat-form-field>
                                        </div>
                                        <div class="col s4" *ngIf="id == 0">
                                            <mat-form-field class="cs-input" appearance="outline">
                                                <mat-label>Qty</mat-label>
                                                <input matInput placeholder="Type Here ..." type="number"
                                                    name="qty_stock" #Qty="ngModel" [(ngModel)]="data.qty_stock"
                                                    required>
                                            </mat-form-field>
                                            <div class="alert alert-danger" *ngIf="(data.qty_stock<=0)">
                                                Quantity should be greater than 0
                                            </div>
                                        </div>

                                        <div class="col s4" *ngIf="id != 0">
                                            <mat-form-field class="cs-input" appearance="outline">
                                                <mat-label>Qty</mat-label>
                                                <input matInput placeholder="Type Here ..." type="text"
                                                onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                                                    name="qty_stock" #Qty="ngModel" [(ngModel)]="data.qty_stock"
                                                    required disabled>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row mb0">
                                        <div class="col s12">
                                            <mat-form-field class="cs-input" appearance="outline">
                                                <mat-label>Description</mat-label>
                                                <textarea matInput placeholder="Type Here ..." class="h80"
                                                    name="description" #description="ngModel"
                                                    [(ngModel)]="data.description"></textarea>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12">
                                    <div class="cs-file">
                                        <p>Upload Image</p>
                                        <ul class="product-images">
                                            <li class="multi-images">
                                                <label class="cs-file-img" *ngFor="let val of urls; let i = index">
                                                    <!-- <img height="75" width="75" alt=""> -->
                                                    <!-- <img src="https://static.hollywoodreporter.com/sites/default/files/2012/12/img_logo_blue.jpg" alt="your image"> -->
                                                    <img [src]="val" alt="your image">
                                                    <span class="cancel-icon">
                                                        <a class="close"><i class="material-icons dp48"
                                                                (click)="delete_img(i)">clear</i></a>
                                                    </span>
                                                </label>
    
                                                <label class="cs-file-img default" *ngIf="urls.length != 1">
                                                    <i class="material-icons">cloud_upload</i>
                                                    <input type="file" name="image" placeholder="Upload file"
                                                        accept=".png,.jpg,.jpeg" multiple style="display: none;"
                                                        (change)="insertImage($event)">
                                                </label>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col s12">
                            <div class="cs-btn fixedd mt32 text-right">
                                <div class="in-btn" *ngIf="id == 0">
                                    <button mat-raised-button color="accent" type="submit">Save</button>
                                </div>
                                <div class="in-btn" *ngIf="id != 0">
                                    <button mat-raised-button color="accent" type="submit">Update</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- </div> -->

                <div *ngIf="loader">
                    <mat-spinner class="loader">
                        <div>
                            <p>Loading....</p>
                        </div>
                    </mat-spinner>
                </div>
            </div>
        </form>
    </div>
</div>