<div class="main-container ">

  <!-- <div >
    <mat-spinner class="loader">
      <div><p>Loading....</p></div>
    </mat-spinner>
  </div> -->
  <div class="middle-container">
    <div class="page-heading">
      <div class="heading-text bc-space">
        <div class="back-btn" (click)="back()">
          <a mat-button><i class="material-icons">west</i></a>
        </div>
        <h2>Finish Good Transaction Details</h2>
      </div>

    </div>



  </div>


  <div class="container-outer">
    <div class="container">
      <div class="row">
        <div class="col s12">
          <div class="details-info">
            <div class="basic-details">
              <div class="cs-heading">
                <h2>Product Detail</h2>
              </div>
              <div class="cs-figure">
                <ul>
                  <li>
                    <div class="outer">
                      <div class="inner">
                        <span>Unit name</span>
                        <p>{{FG_DETAIL.organization_name}}</p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="outer">
                      <div class="inner">
                        <span>State</span>
                        <p>{{FG_DETAIL.state_name}}</p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="outer">
                      <div class="inner">
                        <span>Brand</span>
                        <p>{{FG_DETAIL.brand}}</p>
                      </div>
                    </div>
                  </li>

                  <li>
                    <div class="outer">
                      <div class="inner">
                        <span>Category</span>
                        <p>{{FG_DETAIL.category}}</p>
                      </div>
                    </div>
                  </li>
              
                  <li>
                    <div class="outer">
                      <div class="inner">
                        <span>Size</span>
                        <p>{{FG_DETAIL.size}}</p>
                      </div>
                    </div>
                  </li>

                </ul>

              </div>
            </div>
          </div>

        </div>

      </div>



      <div class="row">
        <div class="col s12">
          <div class="heading-bg left-right-15 mb0">
            <h2> Transaction Detail</h2>
          </div>
          <div class="cs-table left-right-15" *ngIf="FG_DETAIL['Txn'].length">
            <div class="table-head">
              <table class="sno-border">
                <tr>
                  <th class="w40">S.No</th>
                  <th class="w100">Date created</th>
                  <th class="w100">Type</th>
                  <th class="w60">Incoming</th>
                  <th class="w60">Outgoing</th>
                  <th class="w60">Balance</th>
                  <th class="w150">Remark</th>
                </tr>
              </table>
            </div>

            <div class="table-container">
              <div class="table-content">
                <table class="sno-border">
                  <tr *ngFor="let row of FG_DETAIL['Txn'];let i=index">
                    <td class="w40">{{i+1}}</td>
                    <td class="w100">{{row.date_created|date:'dd-MM-yyyy'}}</td>
                    <td class="w100">{{row.type}}</td>
                    <td class="w60">{{row.incoming}}</td>
                    <td class="w60">{{row.outgoing}}</td>
                    <td class="w60">{{row.balance}}</td>
                    <td class="w150">{{row.reason}}</td>
                  </tr>
                </table>
              </div>
            </div>

          </div>
          <div class="no-data" *ngIf="FG_DETAIL['Txn'].length==0">
            <img src="assets/img/no-data.gif" alt="">
            <p>No, any transaction <span>available !</span></p>
          </div>
        </div>
      </div>


    </div>
    <!-- <div class="row">
      <div class="col s12">
        
        </div>
      </div>
    </div> -->
  </div>

</div>