<header >
    <button class="toggle" mat-button (click)="toggleNav()" *ngIf="login_data.view_dashboard=='1'"><i class="material-icons">menu</i></button>
    <div class="logo">
        <img src="assets/img/logo.png" *ngIf="login_data.view_dashboard=='1'">
        <!-- <img src="../assets/img/logo.png" *ngIf="login_data.view_dashboard!='1'"> -->
    
    </div>
    
    <!-- <div class="company-logo">
        <img src="assets/img/theme/pearl/pearl_logo.png">
    </div> -->
    
    <!-- <div class="cs-type">
        <mat-form-field class="sel-opt">
            <select matNativeControl required>
                <option value="volvo">Type</option>
                <option value="saab">Saab</option>
                <option value="mercedes">Mercedes</option>
                <option value="audi">Audi</option>
                <option value="distribution net">Distribution Net.</option>
            </select>
        </mat-form-field>
    </div> -->
    
    <!-- <div class="top-search wp20">
        <input type="text" placeholder="SEARCH. . .">
        <i class="material-icons">search</i>
    </div>
-->
<div class="right-data">
    <div class="outer">
        <div class="inner">
            
            <ul>
                <li><p><strong>Welcome:- </strong> &nbsp; {{login_data.name}}</p></li>
                <li><a class="logout" matRipple>
                    <div (click)="logout()">
                        <i class="material-icons">power_settings_new</i>
                        logout
                    </div>
                </a>
            </li>
        </ul>
        
    </div>
</div>
</div>
</header>