<div class="main-container" >
  <div class="middle-container mb0">
    <div class="page-heading">

      <div *ngIf="backButton" class="heading-text bc-space">
        <div class="back-btn" (click)="back()">
            <a mat-button ><i class="material-icons">west</i></a>
        </div>
        <h2>Secondary Order</h2>
        <p>{{count.count}} | &#8377; {{count.sum}}</p>
    </div>

      <div *ngIf="!backButton" class="heading-text">
        <h2>Secondary Order</h2>
        <p>{{count.count}} | &#8377; {{count.sum}}</p>
      </div>
      <div class="uppr-one m-right-data">
        <ul>
            <li class="refresh-area mr0 after-none">
                <a class="refresh-btn" mat-raised-button (click)="orderList('refresh') " matTooltip="Refresh"><i class="material-icons"> refresh</i></a>
            </li>
        </ul>
    </div>
    </div>

    <div class="uppr-one m-right-data">
      <div>
        <div class="cs-form date-filter">
          <mat-form-field appearance="outline" class="cs-input w150" >
            <mat-label>Date From</mat-label>
            <input matInput [matDatepicker]="date_from" [max]="today_date" placeholder="From Date"[(ngModel)]="search_val.date_from"  (ngModelChange)="change_date_filter('date_from')"  readonly >
            <mat-datepicker-toggle matSuffix [for]="date_from"></mat-datepicker-toggle>
            <mat-datepicker #date_from></mat-datepicker>
          </mat-form-field>
          
          <div class="df">
            <mat-form-field appearance="outline" class="cs-input w150">
              <mat-label>Date To</mat-label>
              <input matInput [matDatepicker]="date_to" [max]="today_date" placeholder="To Date" [(ngModel)]="search_val.date_to" (ngModelChange)="change_date_filter('date_to')"  readonly >
              <mat-datepicker-toggle matSuffix [for]="date_to"></mat-datepicker-toggle>
              <mat-datepicker #date_to></mat-datepicker>
            </mat-form-field>
            <!-- <a class="add-item ml10" mat-raised-button (click)="(data.date_from || data.date_to)?distributorList('get_all_checkin_new','2'):''" [disabled]="!data.date_from || !data.date_to">Go</a> -->
          </div>
        </div>
      </div>
     
    </div>
    
    
    <div class="left-auto">
      <a mat-raised-button color="primary" class="delete-action mr30" *ngIf="allCount" (click)="deletecheckavailable()">Delete <span class="count"> {{ allCount }}</span></a>
    </div>
    <div class="tabs">
      <ul>
        <li><a [ngClass]="{'active': view_tab=='all'}" (click)="filter_order_data('all')">All
          <span class="counter">{{count.count?count.count:0}}</span>
        </a></li>
        <li><a [ngClass]="{'active': view_tab=='Pending'}" (click)="filter_order_data('Pending')">Pending
          <span class="counter">{{count.pending_count?count.pending_count:0}}</span>
        </a></li>
        <li><a [ngClass]="{'active': view_tab=='Partial Dispatch'}" (click)="filter_order_data('Partial Dispatch')"> Partially Dispatched
          <span class="counter">{{count.partial_dispatch_count?count.partial_dispatch_count:0}}</span>
        </a></li>   
        <li><a [ngClass]="{'active': view_tab=='Dispatch'}" (click)="filter_order_data('Dispatch')">Dispatched
          <span class="counter">{{count.dispatch_count?count.dispatch_count:0}}</span>
        </a></li>
        <li><a [ngClass]="{'active': view_tab=='Modified'}" (click)="filter_order_data('Modified')">Modified
          <span class="counter">{{count.modified_count?count.modified_count:0}}</span>

        </a></li>

      </ul>
    </div>
  </div>

  <div class="container-outer padding0">
    <div class="container">
      <div class="cs-table">
        <div class="sticky-head">
          <div class="table-head">
            <table class="sno-border"> 
              <tr>
                <th class="w40">Sr.No</th>
                <!-- <th class="w40"><mat-checkbox color="accent" [(ngModel)]="search_val.allStates" (change)="allOrderdata()"  name="allStates"  value="true"></mat-checkbox></th> -->
                <th class="w90 text-center">Date</th>
                <th class="w160 text-center">Created By</th>
                <!-- <th class="w160">Created By Type</th> -->
                <th class="w120 text-center">Order ID</th>
                <th class="text-center">Company Name</th>
                <th class="w90 text-center">Total Item</th>
                <th class="w100 text-right">Order Value</th>
                <!-- <th class="w100 text-right">Company Order Value</th> -->
                <th class="w180 text-center">Distributor/Dealer</th>
                <th class="w130 text-center">Status</th>
                <!-- <th class="w120">Status</th> -->
              </tr>
            </table>
          </div>
          <div class="table-head bdrt">
            <table class="sno-border">
              <tr>

                <th class="w40"></th>
                <!-- <th class="w40"></th> -->
                <th class="w90">
                  <div class="th-search-acmt">
                    <mat-form-field class="cs-input date-column infix-bodr">
                      <input matInput [matDatepicker]="picker" placeholder="Date" name="date_created" [(ngModel)]="search_val.date_created" [max]=""  (dateChange)="onDate($event)" readonly>
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                  </div>
                </th>
                <th class="w160">
                  <div class="th-search-acmt">
                    <mat-form-field class="example-full-width cs-input select-input">
                      <input matInput placeholder="Created By. . ." name="created_by" [(ngModel)]="search_val.created_by" (keyup.enter)="orderList()">
                    </mat-form-field>
                  </div>
                </th>
                <!-- <th class="w160"></th> -->
                <th class="w120">
                  <div class="th-search-acmt">
                    <mat-form-field class="example-full-width cs-input select-input">
                      <input matInput placeholder="Order Id. . ." (keyup.enter)="orderList()" [(ngModel)]="search_val.order_id" >
                    </mat-form-field>
                  </div>
                </th>    
                <th>
                  <div class="th-search-acmt">
                    <mat-form-field>
                      <input type="text"  matInput placeholder="Company Name. . ." (keyup.enter)="orderList()" [(ngModel)]="search_val.company_name">
                    </mat-form-field>
                  </div>
                </th>   
                <th class="w90"></th>   
                <!-- <th class="w100"></th>-->
                <th class="w100"></th> 
                <!-- <th class="w180">
                  <div class="th-search-acmt">
                    <mat-form-field>
                      <input type="text"  matInput placeholder="Channel Partner. . ." (keyup.enter)="getItemsList('distributor_name',value.search6)" #search="ngModel" [(ngModel)]="value.search6" >
                    </mat-form-field>
                  </div>
                </th> -->
                <th class="w180" ></th>

                <th class="w130" ></th>

                <!-- <th class="w120"></th> -->
              </tr>
            </table>
          </div>
        </div>
        
        <div class="table-container">
          <div class="table-content">
            <table class="sno-border">
              <tr *ngFor="let list of orderlist;let i=index">
                <td class="w40">{{i+1}}</td>
                <!-- <td class="w40"><mat-checkbox color="accent" [(ngModel)]="list.selected_order" (change)="countSelected()"  [name]="'id'+i" value="true"></mat-checkbox></td> -->
                <td class="w90">{{list.date_created | date : 'd MMM y'}}</td>
                <td class="w160" *ngIf="list.created_by_type!='channel partner'">{{list.created_by_name}}</td>
                <td class="w160" *ngIf="list.created_by_type=='channel partner'">{{list.created_by_name2}}</td>
                <!-- <td class="w160" *ngIf="list.created_by_type!='channel partner'">Sales User</td> -->
                <!-- <td class="w160" *ngIf="list.created_by_type=='channel partner'">Dealer</td> -->
                <td class="w120 "><a class="link-btn" mat-button routerLink="/order-detail/{{list.id}}" routerLinkActive="active">{{list.order_no}}</a></td>
                <td   matTooltip="{{list.company_name}}" matTooltipPosition="above">
                  <div class="one-line">
                    {{list.company_name}}
                  </div>
                </td>
                <td class="w90">{{list.order_item}}</td>
                <td class="w100 text-right">&#8377; {{list.order_grand_total}}</td>
                <!-- <td class="w100 text-right">&#8377; {{list.sec_ord_background_amt}}</td>   -->
                <td class="w180 " matTooltip="{{list.distributor_name}}" matTooltipPosition="above">
                  <div class="one-line">
                    {{list.distributor_name}}
                  </div>
                </td>
                <td class="w130" [ngClass]="{'yellow-clr':list.order_status=='Pending','blue-clr':list.order_status=='Dispatch'}"> <strong>{{list.order_status | uppercase}}</strong>
                <div class="action-btns">
                  <a mat-button class="view" (click)="detailOrder(list.id)"><i class="material-icons">remove_red_eye</i> View</a>
                  <button mat-button class="delete" *ngIf="list.order_status=='Pending'" (click)="deleteOrder(list.id)"><i class="material-icons">delete_sweep</i> Delete</button>
                </div>
              </td>
                <!-- <td class="w120">
                  <ng-container *ngIf="list.order_status == 'Pending'">
                    Order Placed
                  </ng-container>
                  <ng-container *ngIf="list.order_status == 'Approved'">
                    Order Accepted
                  </ng-container>
                  <ng-container *ngIf="list.order_status == 'Dispatch'">
                    Dispatched
                  </ng-container>
                  <ng-container *ngIf="list.order_status == 'Reject' || list.order_status == 'Rejected'">
                    Reffered Back
                  </ng-container>
                  <ng-container *ngIf="list.order_status == 'Pre Close'">
                    Pre Closed
                  </ng-container>
                  <div class="action-btns">
                    <a mat-button class="view" (click)="detailOrder(list.id)"><i class="material-icons">remove_red_eye</i> View</a>
                    <button mat-button class="delete" *ngIf="!login_dr_id" (click)="deleteOrder(list.id)"><i class="material-icons">delete_sweep</i> Delete</button>
                  </div>
                </td>   -->
              </tr>
             
              <ng-container *ngFor="let lead of skelton">
                <tr class="sk-loading"  *ngIf="loader">
                  <td class="w90"><div>&nbsp;</div></td>
                  <td class="w160"><div>&nbsp;</div></td>
                  <td class="w120"><div>&nbsp;</div></td>
                  <td><div>&nbsp;</div></td>
                  <td class="w90 text-center"><div>&nbsp;</div></td>
                  <td class="w100"><div>&nbsp;</div></td>
                  <td class="w180"><div>&nbsp;</div></td>
                  <td class="w130"><div>&nbsp;</div></td>

                 

                </tr>
              </ng-container>
            </table>
            <div
            class="search-results"
            data-infinite-scroll
            debounce
            [infiniteScrollDistance]="1"
            [infiniteScrollUpDistance]="2"
            [infiniteScrollThrottle]="10"
            (scrolled)="orderList()"              
            >
          </div>
          
        </div>
      </div>
      
    </div>

    <div class="no-data" *ngIf="data_not_found==true">
      <img src="assets/img/no-data.gif" alt="">
      <p>Data not <span>available !</span></p>
    </div>
  </div>
</div>



<div class="fix-btn">
  <a class="bottom-btn ecxel-btn" matTooltip="Download Excel" matTooltipPosition="above" mat-raised-button (click)="exportAsXLSX()"><img src="assets/img/excel.svg"></a>
</div>
</div>

