<div class="main-container">
  <div class="middle-container mb0">
    <div class="page-heading">
      <div class="heading-text">
        <h2>Follow Ups</h2>
      </div>
      <div class="uppr-one m-right-data">
        <ul>
          <li>
            <a class="refresh-btn" mat-raised-button (click)="refresh()"  matTooltip="Refresh" ><i class="material-icons"> refresh</i></a>
          </li>
        </ul>
        </div>
    </div>
    <div class="uppr-one m-right-data">
      <div class="cs-form date-filter">
        <mat-form-field appearance="outline" class="cs-input w150" >
          <mat-label>Date From</mat-label>
          <input matInput [matDatepicker]="date_from" placeholder="From Date" [(ngModel)]="search.date_from" readonly>
          <mat-datepicker-toggle matSuffix [for]="date_from"></mat-datepicker-toggle>
          <mat-datepicker #date_from></mat-datepicker>
        </mat-form-field>
        
        <div class="df">
          <mat-form-field appearance="outline" class="cs-input w150">
            <mat-label>Date To</mat-label>
            <input matInput [matDatepicker]="date_to" placeholder="To Date" [(ngModel)]="search.date_to" readonly>
            <mat-datepicker-toggle matSuffix [for]="date_to"></mat-datepicker-toggle>
            <mat-datepicker #date_to></mat-datepicker>
          </mat-form-field>
          <a class="add-item ml10" mat-raised-button  (click)="(search.date_from && search.date_to)?followUpList():''" [disabled]="!(search.date_from && search.date_to)" >Go</a>
        </div>
      </div>
      
      <div class="tabs ml15">
        <ul>
          <li><a class="" [ngClass]="active_tab == 'pending' ? 'active' : ''" (click)="active_tab = 'pending';followUpList();">Pending 
            <span class="counter">{{followup_count.pending_followup_count?followup_count.pending_followup_count:0}}</span></a>
          </li>
          <li><a class="" [ngClass]="active_tab == 'upcoming' ? 'active' : ''" (click)="active_tab = 'upcoming';followUpList();">Upcoming             
            <span class="counter">{{followup_count.upcoming_followup_count?followup_count.upcoming_followup_count:0}}</span></a>
          </li>
          <li><a class="" [ngClass]="active_tab == 'complete' ? 'active' : ''" (click)="active_tab = 'complete';followUpList();">Complete             
            <span class="counter">{{followup_count.complete_followup_count?followup_count.complete_followup_count:0}}</span></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  
  <div class="container-outer padding0">
    <!-- <div >
      <mat-spinner class="loader" *ngIf="loader">
        <div><p>Loading....</p></div>
      </mat-spinner>
    </div> -->
    <div class="container">
      <div class="cs-table">
        <div class="sticky-head">
          <div class="table-head">
            <table>
              <tr>
                <th class="w40">Sr.No</th>
                <th class="w100">Date Created</th>
                <th class="w150">Created By</th>
                <th class="w200">Company Name</th>
                <th class="w120">Customer Type</th>
                <th class="w150">Follow up Type</th>
                <th class="w100">Followup Date</th>
                <th class="w150">Assign To</th>
                <th >Description</th>
                <th class="w50">Delete</th>
                
              </tr>
            </table>
          </div>
          <div class="table-head bdrt">
            <table>
              <tr>
                <th class="w40"></th>
                <th class="w100"></th>
                <th  class="w150" >
                  <div class="th-search-acmt">
                    <mat-form-field class="example-full-width cs-input select-input">
                      <input matInput placeholder="Enter Name...."  name="sales_user" [(ngModel)]="search.sales_user" (keyup.enter)="followUpList()">
                    </mat-form-field>
                  </div>
                </th>
                <th class="w200">
                  <div class="th-search-acmt">
                    <mat-form-field class="example-full-width cs-input select-input">
                      <input matInput placeholder="Enter Name...."  name="company_name" [(ngModel)]="search.company_name" (keyup.enter)="followUpList()">
                    </mat-form-field>
                  </div>
                </th>
                <th class="w120">
                  <div class="th-search-acmt">
                    <mat-form-field class="example-full-width cs-input select-input">
                      <!-- <input matInput placeholder="Enter Type...."  name="company_type" [(ngModel)]="search.company_type" (keyup.enter)="followUpList()"> -->
                      <mat-select placeholder="Type" [(ngModel)]="search.company_type">
                        <mat-option> Distributor</mat-option>
                        <mat-option>Direct Dealer</mat-option>
                        <mat-option>Whole Saler</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </th>
                
                <th class="w150">
                  <div class="th-search-acmt">
                    <mat-form-field class="example-full-width cs-input select-input">
                      <input matInput placeholder="Enter Type...."  name="followup_type" [(ngModel)]="search.followup_type" (keyup.enter)="followUpList()">
                    </mat-form-field>
                  </div>
                </th>
                
                <th class="w100">
                  <div class="th-search-acmt">
                    <mat-form-field class="example-full-width cs-input"  >
                      <input matInput [matDatepicker]="picker" placeholder="Date" name="followup_date" [(ngModel)]="search.followup_date" (dateChange)="followUpList()" readonly>
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                  </div>
                </th>
                <th class="w150"></th>
                <th ></th>
                <th class="w50"></th>

              </tr>
            </table>
          </div>
        </div>
        
        <div class="table-container">
          <div class="table-content">
            <table>
              <tr *ngFor="let list of followup_list;let i=index">
                <td class="w40">{{i+1}}</td>
                <td class="w100">{{list.date_created |date : 'd MMM y'}}</td>
                <td class="w150">{{list.name!=''?list.name:'--'}}</td>
                <td class="w200" *ngIf="list.dr_id != '0' && list.lead_type !='Lead' "><a class="link-btn" mat-button routerLink="/distribution-detail/{{list.dr_id}}"routerLinkActive="active">{{list.company_name | titlecase}}</a> </td>
                <td class="w200" *ngIf="list.dr_id != '0' && list.lead_type =='Lead' "><a class="link-btn" mat-button routerLink="/lead-detail/{{list.dr_id}}"routerLinkActive="active">{{list.company_name | titlecase}}</a> </td>
                <td class="w120">
                  <span style="font-weight: 500;" *ngIf="list.type == '1'">Distributor/Dealer</span>
                  <span style="font-weight: 500;" *ngIf="list.type == '3'">Retailer</span>
                  <span style="font-weight: 500;" *ngIf="list.type == '7'">Direct Dealer</span>
                  <span style="font-weight: 500;" *ngIf="list.type == '9'">Project</span>
                  <span style="font-weight: 500;" *ngIf="list.type == '5'">End User</span>
                  <span style="font-weight: 500;" *ngIf="list.type == '10'">Contractor</span>
                  <span style="font-weight: 500;" *ngIf="list.type == '11'">Architect</span>
                  <span style="font-weight: 500;" *ngIf="list.type == '15'">Customer</span>
                  <span style="font-weight: 500;" *ngIf="list.type == '13'">Builder</span>
                  <span style="font-weight: 500;" *ngIf="list.type == '14'">Cement Dealer</span>
                  <span style="font-weight: 500;" *ngIf="list.type == '12'">Online Enquiry</span>
                  <span style="font-weight: 500;" *ngIf="list.type == '' || list.type != '12' && list.type != '15' && list.type != '13' && list.type != '14' && list.type != '9' && list.type != '5' && list.type != '10' && list.type != '11' && list.type != '7' && list.type != '1' && list.type != '3'">Other</span>
                </td>
                <td class="w150">{{list.next_follow_type!=''?list.next_follow_type:'--'}}</td>
                <td class="w100"><a class="link-btn" mat-button routerLink="/followup-detail/{{list.id}}" routerLinkActive="active">{{list.next_follow_date!=''?(list.next_follow_date | date : 'd MMM y'):'--'}}</a></td>
                <td class="w150">{{list.assigned_to_name!=''?(list.assigned_to_name | titlecase):'--' | date : 'd MMM y'}}</td>
                <td  matTooltip="{{list.description!=''?list.description:'--'}}" matTooltipPosition="above">
                  <p class="one-line">{{list.description}}</p>
                </td>
                <td class="w50 text-center">
                  <button mat-button class="delete-mat" (click)="delete_followup(list.id)"><i class="material-icons red-clr">delete_sweep</i></button>
              </td> 
              </tr>
              
              <ng-container *ngFor="let lead of skelton">
                <tr class="sk-loading"  *ngIf="loader">
                  <td class="w100"><div>&nbsp;</div></td>
                  <td class="w150"><div>&nbsp;</div></td>
                  <td class="w200"><div>&nbsp;</div></td>
                  <td class="w120"><div>&nbsp;</div></td>
                  <td class="w150"><div>&nbsp;</div></td>
                  <td class="w100"><div>&nbsp;</div></td>
                  <td class="w150"><div>&nbsp;</div></td>
                  <td ><div>&nbsp;</div></td>
                  <td class="w50"><div>&nbsp;</div></td>
                </tr>
              </ng-container>
            </table>
            <div
            class="search-results"
            data-infinite-scroll
            debounce
            [infiniteScrollDistance]="1"
            [infiniteScrollUpDistance]="2"
            [infiniteScrollThrottle]="10"
            (scrolled)="followUpList()"             
            >
          </div>
          <div *ngIf="loader" class="lazy-loading" >
            <img src="../../../assets/img/lazy_loader.gif" alt="">
          </div>
        </div>
      </div>
      
    </div>
    
    <div class="no-data" *ngIf="data_not_found==true">
      <img src="assets/img/no-data.gif" alt="">
      <p>Data not <span>available !</span></p>
    </div>
  </div>
</div>

</div>
<div class="fix-btn">
  <a class="bottom-btn ecxel-btn" matTooltip="Download Excel" matTooltipPosition="above" mat-raised-button (click)="exportAsXLSX()"><img src="assets/img/excel.svg"></a>
</div>
