<div class="edit-modal" *ngIf="data.type=='issue_pop'">

    <div mat-dialog-content>
      <p class="heading">Pop Issue</p>
      <div class="cs-form">
        <div class="row">
          <div class="col s6">
            <mat-form-field class="cs-input" appearance="outline">
              <mat-label>Type</mat-label>
              <mat-select name="issue_type" #issue_type="ngModel" [(ngModel)]="PopData.issue_type"
                (ngModelChange)="get_user()" [disabled]="PopData.issue_type">
                <mat-option value="Executive">Executive</mat-option>
                <mat-option value="Distributor">Distributor/Dealer</mat-option>
                <mat-option value="Dealer">Retailer</mat-option>
                <mat-option value="Sr.Manager">Sr. Manager</mat-option>
                <mat-option value="Manager">Manager</mat-option>

              </mat-select>
            </mat-form-field>
          </div>
          <div class="col s6">
            <mat-form-field class="cs-input" appearance="outline">
              <mat-label>{{PopData.issue_type}}</mat-label>
              <mat-select name="user_id" #user_id="ngModel" [(ngModel)]="PopData.user_id"
                (ngModelChange)="showItemInfo='true'" [disabled]="PopData.user_id">
                <mat-option *ngFor="let model of model_data " value="{{model.id}}">{{model.name}}</mat-option>
  
              </mat-select>
            </mat-form-field>
          </div>
        </div>
  
        <div class="row">
          <div class="col s12">
            <mat-form-field class="cs-input" appearance="outline">
              <mat-label>Delivery Note </mat-label>
              <textarea matInput placeholder="Type Here ..." class="h70" name="delivery_note" #delivery_note="ngModel"
                [(ngModel)]="PopData.delivery_note"></textarea>
            </mat-form-field>
          </div>
        </div>
  
        <div class="row">
          <div class="col s12" *ngIf="showItemInfo">
            <div class="details-info flat pb0">
              <div class="basic-details">
                <div class="cs-heading">
                  <h2>Item Information</h2>
                </div>
  
                <div class="row">
                  <div class="col s6">
  
                    <mat-form-field class="cs-input" appearance="outline">
  
                      <mat-label>Items</mat-label>
                      <mat-select name="item" #item="ngModel" [(ngModel)]="list.item_id">
                        <mat-option *ngFor="let use of user_data" value="{{use.id}}"
                          (click)="show_stock(list.qty_stock);list.show = use.qty_stock">{{use.item_name}}</mat-option>
                        <!-- <mat-option value="Pen">Pen</mat-option> -->
                      </mat-select>
                    </mat-form-field>
                  </div>
  
                  <div class="col s4">
                    <div class="df">
                      <mat-form-field class="cs-input" appearance="outline">
                        <mat-label>QTY</mat-label>
                        <input matInput type="text" onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                          placeholder="Type Here ..." name="qty" #qty_stock="ngModel" [(ngModel)]="list.qty"  required>
                      </mat-form-field>
                      <div class="alert alert-danger" *ngIf="((list.qty)>(list.show))">
                        
                      </div>
                    </div>
                  </div>
  
                  <div class="col s2">
                    <div class="df">
                      <mat-form-field class="cs-input" appearance="outline">
                        <mat-label>Stock QTY</mat-label>
                        <input matInput type="number" name="qty_stock1" [(ngModel)]="list.show" #qty_stock1="ngModel"
                          placeholder="Type Here ..." [disabled]=true readonly>
                      </mat-form-field>
                      <!-- <a class="add-item ml15" mat-raised-button [disabled]="((list.qty==0) || ((list.qty)>(list.show)))">
                        <i class="material-icons" (click)="(addtolist())">add</i>
                      </a> -->

                      <a *ngIf="((list.item_id) && ((list.qty) && (list.qty>0 )&& (list.qty)<=(list.show)))"  (click)="(addtolist())" class="add-item ml15" mat-raised-button [disabled]="((list.qty==0) || ((list.qty)>(list.show)))">
                        <i class="material-icons" >add</i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
  
  
        <div class="cs-table left-right-10" *ngIf="listarray.length>='1'">
          <div class="sticky-head">
            <div class="table-head border-top" >
              <table>
                <tr>
                  <th class="w30 text-center"></th>
                  <th>Items</th>
                  <th class="w50 text-center">QTY</th>
                  <th class="w60 text-center">Action</th>
                </tr>
              </table>
            </div>
          </div>
  
          <div class="table-container">
            <div class="table-content">
              <table>
                <tr *ngFor="let list of listarray; let i=index;">
                  <td class="w30 text-center">{{i+1}}</td>
                  <td>{{list.item_name}}</td>
                  <td class="w50 text-center">{{list.qty}}</td>
                  <td class="w60">
                    <button mat-button class="delete-mat"><i class="material-icons red-clr"
                        (click)="delete(i)">delete_sweep</i></button>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
  
        <div mat-dialog-actions>
          <button mat-button color="warn" [mat-dialog-close]="false">Cancel</button>
          <button mat-button color="accent" (click)="submit()"
            [disabled]="!listarray.length ||!PopData.issue_type">Save</button>
        </div>
      </div>
    </div>
  </div>
  
  
  <div class="edit-modal" *ngIf="data.type=='Update_stock'">
  
    <div mat-dialog-content>
      <p class="heading">Add Stock</p>
      <div class="cs-form">
  
        <div class="row">
          <div class="col s4">
            <mat-form-field class="cs-input" appearance="outline">
              <mat-label>Vendor Name</mat-label>
              <input matInput type="text" placeholder="Type Here ..." name="vendor_name" #vendor_name="ngModel"
                [(ngModel)]="data1.vendor_name">
            </mat-form-field>
          </div>
          <div class="col s4">
            <mat-form-field class="cs-input" appearance="outline">
              <mat-label>QTY</mat-label>
              <input matInput type="number" placeholder="Type Here ..." name="qty" #qty="ngModel" [(ngModel)]="data1.qty">
            </mat-form-field>
            <div class="alert alert-danger" *ngIf="(data1.qty<=0)">
              Quantity should be greater than 0
            </div>
          </div>
          <div class="col s4">
            <mat-form-field class="cs-input" appearance="outline">
              <mat-label>Receving Date</mat-label>
              <input matInput [matDatepicker]="picker" name="receiving_date" #receiving_date="ngModel"
                [(ngModel)]="data1.receiving_date" [max]="today_date" disabled>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker disabled="false"></mat-datepicker>
  
            </mat-form-field>
          </div>
        </div>
  
        <div mat-dialog-actions>
          <button mat-button color="warn" [mat-dialog-close]="false">Cancel</button>
          <button mat-button color="accent" (click)="((data1.qty>0) && (add_stock()))"
            [disabled]="!data1.vendor_name || !data1.qty || !data1.receiving_date">Save</button>
        </div>
      </div>
    </div>
  </div>