<div class="main-container">
  <div class="middle-container mb0">
    <div class="page-heading">
      <div class="heading-text">
        <h2>Direct Dealer Leads</h2>
        <p>Total Lead - {{lead_List.length}}</p>
      </div>
    </div>
  </div>
  
  <div class="container-outer padding0">
    <!-- <div *ngIf="loader">
      <mat-spinner class="loader">
        <div><p>Loading....</p></div>
      </mat-spinner>
    </div> -->
    
    <div class="container" >
      <div class="cs-table">
        <div class="sticky-head">
          <div class="table-head">
            <table>
              <tr>
                <th class="w110">Date</th>
                <th class="w180">Created By</th>
                <th class="w220">Company Name</th>
                <th class="w200">Assigned To</th>
                <th >Address</th>
              </tr>
            </table>
          </div>
          <div class="table-head bdrt" >
            <table>
              <tr>
                <th class="w110">
                  <div class="th-search-acmt">
                    <mat-form-field class="cs-input date-column infix-bodr">
                      <input matInput [matDatepicker]="picker" placeholder="Date" name="date_created" [(ngModel)]="search_val.date_created" (dateChange)="onDate($event)" >
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                  </div>
                </th>
                <th class="w180">
                  <div class="th-search-acmt">
                    <mat-form-field class="example-full-width cs-input select-input">
                      <input matInput placeholder="Created By. . ."  type="text" name="created_by" [(ngModel)]="search_val.created_by" (keyup.enter)="leadList()">
                    </mat-form-field>
                  </div>
                </th>
                <th class="w220">
                  <div class="th-search-acmt">
                    <mat-form-field class="example-full-width cs-input select-input">
                      <input matInput placeholder="Company Name. . ."name="company_name" (keyup.enter)="leadList()" [(ngModel)]="search_val.company_name" >
                      
                    </mat-form-field>
                  </div>
                </th>
                <!-- <th class="w200">
                  <div class="th-search-acmt">
                    <mat-form-field class="example-full-width cs-input select-input">
                      <input matInput placeholder="Assigned to. . ." (keyup.enter)="getItemsList('assigned_to',value.search2)" #search="ngModel" [(ngModel)]="value.search2" >
                      
                    </mat-form-field>
                  </div>
                </th> -->
                <th >&nbsp;</th>
              </tr>
            </table>
          </div>
        </div>
        
        <div class="table-container">
          <div class="table-content">
            <table>
              <tr *ngFor="let lead of lead_List">
                <td class="w110">{{lead.date_created | date :'MMM d, y'}}</td>
                <td class="w180" *ngIf="lead.created_by!=0">{{lead.created_name}}</td>
                <td class="w180" *ngIf="lead.created_by==0">Self</td>
                <td class="w220"><a mat-button class="link-btn" routerLink="/lead-detail/{{lead.id}}" routerLinkActive="active">{{lead.company_name}}</a></td>
                <td class="w200">{{lead.assigned_to}}</td>
                <td >
                  {{lead.address}}, {{lead.city}}, {{lead.district}}, {{lead.state}},{{lead.pincode}}
                  <div class="action-btns">
                    <a mat-button class="view" routerLink="/lead-detail/{{lead.id}}" routerLinkActive="active"><i class="material-icons">remove_red_eye</i> View</a>
                    <button mat-button class="delete" (click)="deleteLead(lead.id)"><i class="material-icons">delete_sweep</i> Delete</button>
                  </div>
                </td>          
              </tr>


              <ng-container *ngFor="let lead of skelton">
                  <tr class="sk-loading"  *ngIf="loader">
                    <td class="w110"><div>&nbsp;</div></td>
                    <td class="w180"><div>&nbsp;</div></td>
                    <td class="w200"><div>&nbsp;</div></td>
                    <td class="w200"><div>&nbsp;</div></td>
                    <td><div>&nbsp;</div></td>
                  </tr>
                </ng-container>

            </table>
            <div
            class="search-results"
            data-infinite-scroll
            debounce
            [infiniteScrollDistance]="1"
            [infiniteScrollUpDistance]="2"
            [infiniteScrollThrottle]="10"
            (scrolled)="leadList()"              
            >
          </div>
        </div>
      </div>
    </div>
    <div class="no-data" *ngIf="data_not_found==true">
      <img src="assets/img/no-data.gif" alt="">
      <p>Data not <span>available !</span></p>
    </div>
  </div>
</div>
<div class="fix-btn">
  <a class="bottom-btn ecxel-btn" matTooltip="Download Excel" matTooltipPosition="above" mat-raised-button  (click)="exportAsXLSX()"><img src="assets/img/excel.svg"></a>
  <a class="bottom-btn"  matTooltip="Add New" matTooltipPosition="above" mat-raised-button routerLink="/add-lead" routerLinkActive="active"><i class="material-icons">add</i></a>
</div>
</div>
