    <div class="main-container ">
        
        <div *ngIf="loader">
            <mat-spinner class="loader">
                <div><p>Loading....</p></div>
            </mat-spinner>
        </div>
        <div class="middle-container">
            <div class="page-heading" >
                <div class="heading-text bc-space">
                    <div class="back-btn" (click)="back()">
                        <a mat-button ><i class="material-icons">west</i></a>
                    </div> 
                    <h2>Order Details</h2>
                </div>
            </div>
            
            <div class="left-auto" >
                <div class="action-menu">
                    <button mat-raised-button color="accent"   color="accent"*ngIf="((login_data.access_level == '1') || (login_data.access_level != '1' )) && order_detail.order_status!='Dispatch'  && order_detail.order_status!='Partial Dispatch'" (click)="openDialog()">
                        Change Status
                    </button>
                    <button mat-raised-button  color="accent" class="ml10" (click)="open_dipatch_model()"  *ngIf="order_detail.order_status!='Dispatch' &&( order_detail.order_status=='Approved'|| order_detail.order_status=='Partial Dispatch')"> 
                        Dispatch Item
                    </button>
                    <!-- <button mat-raised-button color="primary"   class="ml10" color="primary" (click)="onPrintPage()">
                        Print
                     </button> -->
                    <!-- <button mat-raised-button  color="accent" class="ml10" (click)="changeStatusToDispatch(order_detail.id)" *ngIf="order_detail.order_status!='Dispatch'  &&( order_detail.order_status=='Approved'|| order_detail.order_status=='Partial Dispatch')">
                        Dispatch Order
                    </button>  -->
                </div>
            </div>
        </div>
        
        
        <div class="container-outer">
            <div class="container" >
                <div class="row" >
                    <div class="col s6">
                        <div class="details-info">
                            <div class="basic-details">
                                <div class="cs-heading">
                                    <h2>Order Details</h2>
                                </div>
                                <div class="cs-figure">
                                    <ul>
                                        <li class="w100" style="min-width: 100px;">
                                            <div class="outer">
                                                <div class="inner">
                                                    <span> Date</span>
                                                    <p>{{order_detail.date_created  | date :' dd/MM/yyyy'}}</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="outer">
                                                <div class="inner">
                                                    <span>Order ID</span>
                                                    <p>{{order_detail.order_no}}</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="outer">
                                                <div class="inner">
                                                    <span>Unit</span>
                                                    <p>{{order_detail.unit}}</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="outer">
                                                <div class="inner">
                                                    <span>State</span>
                                                    <p>{{order_detail.state}}</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li *ngIf="order_detail.created_by_type != 'channel partner'">
                                            <div class="outer">
                                                <div class="inner">
                                                    <span>Created By</span>
                                                    <p>{{order_detail.created_by_name}}</p>
                                                </div>
                                            </div>
                                        </li>
                                        
                                        
                                        <li *ngIf="order_detail.type=='3'">
                                            <div class="outer">
                                                <div class="inner">
                                                    <span>Distributor/Dealer</span>
                                                    <p>{{order_detail.distributor_name}}</p>
                                                    <a  class="one-edit" color="accent" matRipple matTooltip="EDIT" (click)="openEditDialog(order_detail.created_by,'order_cp_edit')" *ngIf="(login_data.access_level == '1') && (order_detail.order_status=='Pending')"><i class="material-icons">create</i></a>
                                                </div>
                                            </div>
                                        </li>
                                        
                                        <li class="w130 " style="min-width: 130px;" *ngIf="order_detail.type!='3'">
                                            <div class="outer">
                                                <div class="inner">
                                                    <span>Status</span>
                                                    <p>
                                                        <!-- {{order_detail.order_status == "Pending" ? 'Order Placed' : order_detail.order_status == 'Approved' ? 'Order Accepted' : order_detail.order_status}} -->
                                                        <ng-container *ngIf="order_detail.order_status == 'Pending'">
                                                            Pending
                                                        </ng-container>
                                                        <ng-container *ngIf="order_detail.order_status == 'Approved'">
                                                            Approved
                                                        </ng-container>
                                                        <ng-container *ngIf="order_detail.order_status == 'Dispatch'">
                                                            Dispatched
                                                        </ng-container>
                                                        <ng-container *ngIf="order_detail.order_status == 'Partial Dispatch'">
                                                            Partially Dispatched
                                                        </ng-container>
                                                        
                                                        <ng-container *ngIf="order_detail.order_status == 'Reject' || order_detail.order_status == 'Rejected'">
                                                            {{order_detail.order_status}}
                                                        </ng-container>
                                                        
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                        
                                        <ul>
                                            <li *ngIf="order_detail.order_status=='Reject'">
                                                <div class="outer">
                                                    <div class="inner">
                                                        <span>Reason Of Reject</span>
                                                        <p>{{order_detail.reason_reject}}</p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li *ngIf="order_detail.order_status=='Approved'">
                                                <div class="outer">
                                                    <div class="inner">
                                                        <span>Approved By</span>
                                                        <p>{{order_detail.approved_by_name}}</p>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                        
                                        <ul class="mt10" >
                                            <li  *ngIf="order_detail.remark">
                                                <div class="outer">
                                                    <div class="inner">
                                                        <span>Accepted Remark</span>
                                                        <p *ngIf="order_detail.remark">{{order_detail.remark}}</p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li  *ngIf="order_detail.preclose_remark">
                                                <div class="outer">
                                                    <div class="inner">
                                                        <span>Pre-Close Remark</span>
                                                        <p *ngIf="order_detail.remark">{{order_detail.preclose_remark}}</p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li  *ngIf="order_detail.order_remark">
                                                <div class="outer">
                                                    <div class="inner">
                                                        <span>Order Remark</span>
                                                        <p *ngIf="order_detail.remark">{{order_detail.order_remark}}</p>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            
                            <!-- transport detail -->
                            <!-- <div class="details-info mt10" hidden>
                                <div class="basic-details">
                                    <div class="cs-heading">
                                        <h2>Transport Detail</h2>
                                    </div>
                                    <div class="cs-figure">
                                        <ul>
                                            <li>
                                                <div class="outer">
                                                    <div class="inner">
                                                        <span>Transporter Name</span>
                                                        <p>{{!order_detail.transport_name ? ' -- ' : order_detail.transport_name | titlecase }} </p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="outer">
                                                    <div class="inner">
                                                        <span>Mobile</span>
                                                        <p>{{!order_detail.transport_mobile ? ' -- ' : order_detail.transport_mobile  }} </p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="outer">
                                                    <div class="inner">
                                                        <span>Address</span>
                                                        <p>{{!order_detail.transport_address ? ' -- ' : order_detail.transport_address | titlecase }} </p>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                        <ul class="mt10">
                                            <li >
                                                <div class="outer">
                                                    <div class="inner">
                                                        <span>Private Marka</span>
                                                        <p>{{!order_detail.private_marka ? ' -- ' : order_detail.private_marka | titlecase }} </p>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div> -->
                            <div class="details-info mt10" style="display: none;" >
                                <div class="basic-details">
                                    <div class="cs-heading">
                                        <h2>Order Logs</h2>
                                    </div>
                                    <div class="cs-table scroll400">
                                        <div class="table-head">
                                            <table class="sno-border">
                                                <tr>
                                                    <th class="w50 text-center">S.No</th>
                                                    <th class="w100">Date</th>
                                                    <th class="w150">Created by</th>
                                                    <th>Remark</th>
                                                </tr>
                                            </table>
                                        </div>
                                        
                                        <div class="table-container">
                                            <div class="table-content">
                                                <table class="sno-border" >
                                                    <tr  *ngFor="let data of order_logs; let i=index;">
                                                        <td class="w50 text-center">{{i+1}}</td>
                                                        <td class="w100">{{data.date_created  | date :' dd/MM/yyyy'}}</td>
                                                        <td  class="w150">{{data.created_by_name}}</td>
                                                        <td>{{data.remark}} </td>
                                                        
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                               
                            </div>
                            
                            
                            <!-- transport detail -->
                        </div>
                        
                        
                        <div class="col s6">
                            <div class="details-info">
                                <div class="basic-details">
                                    <div class="cs-heading">
                                        <h2>Company Details</h2>
                                    </div>
                                    <div class="cs-figure">
                                        <ul>
                                            <li>
                                                <div class="outer">
                                                    <div class="inner">
                                                        <span>Company Name & type</span>
                                                        <p>
                                                            {{order_detail.dr_name}} 
                                                            ( <strong style="color: #63270e;" *ngIf="order_detail.type==1"> Distributor/Dealer</strong>
                                                            <strong style="color: #63270e;" *ngIf="order_detail.type==7">Whole Saler</strong>
                                                            <strong style="color: #63270e;" *ngIf="order_detail.type==3">Retailer</strong> )
                                                        </p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="w200" style="min-width: 200px;">
                                                <div class="outer">
                                                    <div class="inner">
                                                        <span>GST No.</span>
                                                        <p>{{order_detail.gst ? order_detail.gst : '--'}}</p>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                        <ul class="mt10">
                                            <li >
                                                <div class="outer">
                                                    <div class="inner">
                                                        <span>Address</span>
                                                        <p>{{order_detail.address ? order_detail.address : ''}} {{order_detail.city ? ', '+  order_detail.city : ''}} {{order_detail.district ? ', '+order_detail.district : ''}} {{order_detail.state ? ', '+order_detail.state : ''}}</p>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    
                    
                    
                    <div class="row">
                        <div class="col s12">
                            <div class="heading-bg left-right-15 mb0">
                                <h2>Order Item</h2>
                            </div>
                            <div class="cs-table left-right-15">
                                <div class="table-head">
                                    <table class="sno-border">
                                        <tr>
                                            <th class="w40 text-center"></th>
                                            <th>Product Description</th>
                                            <th class="w200">Size</th>
                                            <th class="w80">Order QTY</th>
                                            <th class="w80">Pending QTY</th>
                                            <th class="w80">Dispatch QTY</th>
                                            
                                            <th class="w90">Rate</th>
                                            <th class="w100" >Sub-Total</th>
                                             <!-- <th class="w120" >Discount</th> -->
                                                <th class="w120" >GST Amount</th> 
                                                <th class="w140 text-right"> Amount</th>
                                            </tr>
                                        </table>
                                    </div>
                                    
                                    <div class="table-container">
                                        <div class="table-content">
                                            <table class="sno-border">
                                                <tr *ngFor="let list of order_item; let i=index;">
                                                    <td class="w40 text-center">{{i+1}}</td>
                                                    <!-- <td>{{list.product_name}} {{list.cat_no}}</td> -->
                                                    <td>{{list.brand}} - {{list.category}}</td>
                                                    <!-- *ngIf="(order_detail.order_status=='Pending')" -->
                                                    <td class="w200">{{list.size}}</td>
                                                    <td class="w80" *ngIf="(order_detail.order_status=='Pending')">
                                                        <div class="td-input" [ngClass]="{'active':list.editqty==true}">
                                                            <input type="number" class="input-bdr" value="{{list.qty}}"  name="qty" #qty="ngModel" [(ngModel)]="list.qty" (ngModelChange)="calc(list.id,list.qty)" [readonly]="!list.editqty">
                                                            <div class="edit">
                                                                <a class="edit-icon edit" *ngIf="list.editqty == false">
                                                                    <i class="material-icons" (click)="list.editqty = true">create</i>
                                                                </a>
                                                                <a class="edit-icon save" *ngIf="list.editqty == true">
                                                                    <i class="material-icons" (click)="list.editqty = false;update_order(list.id)">save</i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="w80" *ngIf="(order_detail.order_status!='Pending')">{{list.qty}}</td>
                                                    <td class="w80" >{{list.pending_qty}}</td>
                                                    <td class="w80" ><b>{{list.dispatch_qty && list.dispatch_qty!= null ? list.dispatch_qty : '--'}}</b></td>
                                                    
                                                    <td class="w90">&#8377; {{list.price}}</td>
                                                    <td class="w100">&#8377; {{list.sub_total}}</td>
                                                    <!-- <td class="w120">&#8377;  {{list.discount_amount * list.qty}}({{list.discount_percent}}%)</td> -->
                                                    <td class="w120">&#8377; {{list.gst_amount}} ({{list.gst_percent?list.gst_percent+' %':'0 %'}})</td>
                                                    <td class="w140 text-right">&#8377;  {{list.sub_total}}</td>
                                                    
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col s8">&nbsp;</div>
                            <div class="col s4">
                                <div class="invoice-table">
                                    <table>
                                        
                                        
                                        <!-- <tr >
                                            <td>Sub Amount</td>
                                            <td class="w30 text-center">:</td>
                                            <td class="w200 text-right ">&#8377; {{order_detail.sub_total}}</td>
                                        </tr>
                                        <tr >
                                            <td>Discount</td>
                                            <td class="text-center">:</td>
                                            <td class="text-right ">&#8377; {{order_detail.order_discount}}</td>
                                        </tr> -->
                                        <tr >
                                            <td>Sub Total</td>
                                            <td class="text-center"><strong>:</strong></td>
                                            <td class="text-right ">&#8377; {{order_detail.sub_total}}</td>
                                        </tr>

                                        
                                        <tr *ngIf="order_detail.order_gst!=0" >
                                            <td>GST Amount</td>
                                            <td class="text-center">:</td>
                                            <td class="text-right ">&#8377;{{order_detail.order_gst}}</td>
                                        </tr>

                                        <tr *ngIf="order_detail.order_gst!=0" >
                                            <td>Grand Total</td>
                                            <td class="text-center">:</td>
                                            <td class="text-right ">&#8377;{{order_detail.order_grand_total}}</td>
                                        </tr>
                                        
                                        <!-- *ngIf="order_detail.sp_type" -->
                                        <!-- <tr > -->
                                            <!-- *ngIf="order_detail.sp_type=='Discount'" -->
                                            <!-- <td >Special Discount</td> -->
                                            <!-- <td *ngIf="order_detail.sp_type=='Premium'">Additional Charges</td> -->
                                            <!-- <td class="text-center">:</td> -->
                                            <!-- <td class="text-right "> -->
                                                <!-- <div class="edit"> -->
                                                    <!-- &#8377; {{order_detail.special_discount_amount}} -->
                                                    <!-- <input  type="number" [min]="0" name=""> -->
                                                    <!-- <div class="edit-icon edit" *ngIf="list.editqty == false">
                                                        <a class="material-icons"(click)="list.editqty == true">create</a>
                                                        <a class="edit-icon save" *ngIf="list.editqty==true" ></a>
                                                        <a class="material-icons"(click)="list.editqty = false;update_order(list.id)">save</a>
                                                    </div> -->
                                                    <!-- </div> -->
                                                    <!-- </td> -->
                                                    <!-- </tr> -->
                                                    
                                                    <!-- <tr >
                                                        <td>Grand Total</td>
                                                        <td class="text-center">:</td>
                                                        <td class="text-right ">&#8377; {{order_detail.order_grand_total}}</td>
                                                    </tr>
                                                    <tr >
                                                        <td>Breakup of Grand Total</td>
                                                        <td class="text-center">:</td>
                                                        <td class="text-right ">(&#8377;{{order_detail.netBreakup}},GST(18%) : &#8377;{{order_detail.gstBreakup}}) </td>
                                                    </tr> -->
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        
<!DOCTYPE html>
<html id="printData" style="display:none" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

<div style="width: 1024px; margin: 0 auto; font-family: Arial, Helvetica, sans-serif;">
  <table style="width: 1024px; table-layout: fixed; box-sizing: border-box; table-layout: fixed; border-collapse: collapse;" border="1">

    <tr>
      <td colspan="3" style="vertical-align: top; padding: 5px; text-align: center;">
        <div>

          <p style="font-size: 12px; line-height: 20px; margin: 0px;"><strong>SALES ORDER</strong></p>
        </div>
      </td>

    </tr>


    <tr>
      <td style="vertical-align: top; padding: 5px; text-align: center;">
        <div>

          <img src="assets/img/logo.png" alt="Logo" style="height: 70px;">
        </div>
      </td>
      <td style="vertical-align: top; padding: 5px; text-align: right;" colspan="2">
        <div>
          <p style="font-size: 12px; line-height: 20px; margin: 0px;"><strong>Address:-</strong> 2320, Sant Nagar, Raja Park, Pitam Pura, New Delhi, Delhi 110034
           </p>
          <p style="font-size: 12px; line-height: 20px; margin: 0px;"><strong>Contact Us:-</strong> 1800-1200-620</p>
          <p style="font-size: 12px; line-height: 20px; margin: 0px;"><strong>E-Mail Address:-</strong> info@trimurtiproducts.com</p>
        
        </div>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; padding: 5px;">
        <p style="font-size: 12px; line-height: 20px; margin: 0px;"><strong>Date:-</strong> {{order_detail.date_created  | date :' dd/MM/yyyy'}}</p>
        <p style="font-size: 12px; line-height: 20px; margin: 0px;"><strong>Order ID:-</strong>{{order_detail.order_no}}</p>
     

      </td>
      <td  colspan="2"style="vertical-align: top; padding: 5px;">
        <h2 style="font-size: 14px; line-height: 20px; margin: 0px 0px 10px 0px; text-decoration: underline;">Company Details</h2>
        <p style="font-size: 12px; line-height: 20px; margin: 0px;"><strong>Company Name & Type:-</strong>  {{order_detail.dr_name}}</p>
        <p  *ngIf="order_detail.gst"style="font-size: 12px; line-height: 20px; margin: 0px;"><strong>GST NO.:-</strong>{{order_detail.gst ? order_detail.gst : '--'}}</p>
        <p style="font-size: 12px; line-height: 20px; margin: 0px;"><strong>Address:-</strong>{{order_detail.address ? order_detail.address : '--'}} {{order_detail.city ? ', '+  order_detail.city : ''}} {{order_detail.district ? ', '+order_detail.district : ''}} {{order_detail.state ? ', '+order_detail.state : ''}}</p>

      </td>


    </tr>
    <tr>
      <td colspan="3" style="padding:10px; background: #cccccc; font-size: 14px; font-weight: 600;">Order Summary</td>
    </tr>
  </table>
  <table style="width: 1024px; table-layout: fixed; box-sizing: border-box; table-layout: fixed; border-collapse: collapse;" border="1" >

    <tr >
      <th style="font-size: 12px; background: #f9f9f9; padding: 5px; width: 60px;">S.no.</th>

      <th colspan="2" style="font-size: 12px; background: #f9f9f9; padding: 5px; text-align: left;">Description of Goods</th>
      <th style="font-size: 12px; background: #f9f9f9; padding: 5px; width: 110px;">Size</th>
      <th style="font-size: 12px; background: #f9f9f9; padding: 5px; width: 100px;">Rate</th>
    
      <th style="font-size: 12px; background: #f9f9f9; padding: 5px; width: 110px;">Qty</th>
      <th style="font-size: 12px; background: #f9f9f9; padding: 5px; width: 100px;">Pending QTY</th>
      <th style="font-size: 12px; background: #f9f9f9; padding: 5px; width: 100px;"> Dispatch QTY</th>
      <th style="font-size: 12px; background: #f9f9f9; padding: 5px; text-align: right; width: 100px;"> Amount</th>

    </tr>

    <tr *ngFor="let list of order_item; let i=index">

      <td style="font-size: 12px; padding: 5px; text-align: left;">
        {{i+1}}</td>
      <td colspan="2" style="font-size: 12px; padding: 5px; text-align: left; width: 100px;">{{list.product_name}}  {{list.cat_no}} </td>
      <td style="font-size: 12px; padding: 5px; text-align: center; width: 110px;">{{list.product_size}}</td>
      <td style="font-size: 12px; padding: 5px; text-align: right; width: 100px;">&#8377;{{list.price}}</td>
      
      <td style="font-size: 12px; padding: 5px; text-align: center; width: 110px;">{{list.qty}}</td>
      <td style="font-size: 12px; padding: 5px; text-align: center; width: 100px;">{{list.pending_qty}}</td>
      <td style="font-size: 12px; padding: 5px; text-align: center; width: 110px;">{{list.dispatch_qty}}</td>
     
    
      <td style="font-size: 12px; padding: 5px; text-align: right; width: 100px;">&#8377;{{list.amount}}</td>
      
    
    </tr>

  </table>
  <table style="width: 1024px; table-layout: fixed; box-sizing: border-box; table-layout: fixed; border-collapse: collapse;">

 

  <tr>
    <td style="font-size: 12px; padding: 10px; text-align: right; border-left: 1px solid #000000;">Net Total-:</td>
    <td style="font-size: 12px; padding: 10px; text-align: right; width: 150px; border-right: 1px solid #000000;">{{order_detail.order_total}}</td>
  </tr>
 
 
 
</table>
  <table style="width: 1024px; table-layout: fixed; box-sizing: border-box; table-layout: fixed; border-collapse: collapse;">

      <tr>
          <td style="font-size: 12px; padding: 10px; text-align: left; border-left: 1px solid #000000;border-right: 1px solid #000000;">Remark: {{order_detail.order_remark ? order_detail.order_remark : 'No Remark'}}</td>

       </tr>


  </table>



  <table style="width: 1024px; table-layout: fixed; box-sizing: border-box; table-layout: fixed; border-collapse: collapse;" border="1" >

    <tr>

        <td style="text-align: right; padding: 10px;">


                <span style="margin: 2px; font-size: 14px; font-weight: 700; line-height: 28px;" >
                    <b>For TRIMURTI<br>


Authorised Signatory

                    </b></span>

            </td>
        </tr>

  </table>




</div>

</body>
</html>
                        
                        
                        
                        