 <div class="edit-modal" *ngIf="data.organization=='orderdetail'">
  
  <form validate #update_basic="ngForm" name="update_basic" (ngSubmit)="(update_basic.valid && update_basic.submitted)?order_status_change(data.reason,data.order_status):''">
    
    <p class="heading">Update Status</p>
    <div mat-dialog-content>
      <div class="cs-form">
        <div class="row">
          <div class="col s12">
            <mat-form-field class="cs-input"  appearance="outline">
              <mat-label>Order Status</mat-label>
              <mat-select  name="order_status" placeholder="Select Status"  #order_status="ngModel" [(ngModel)]="data.order_status">
                <mat-option value="Pending">
                  Pending 
                </mat-option>
                <mat-option *ngIf="delivery_from=='Craft Smith'" value="Approved">
                  Approved
                </mat-option>
                <mat-option *ngIf="delivery_from=='Craft Smith'" value="Reject">
                  Reject
                </mat-option>
                <mat-option *ngIf="delivery_from!='Craft Smith'" value="Dispatch">
                  Dispatch 
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          
        </div>
        
        <div class="row">
          <div class="col s12"  *ngIf="data.order_status=='Reject'">
            <mat-form-field class="cs-input" appearance="outline">
              <mat-label>Reason</mat-label>
              <textarea class="h100" matInput  name="reason" placeholder="Reason"  #reason="ngModel" [(ngModel)]="data.reason" [ngClass]="{'has-error' : reason.invalid } "   required="true"></textarea>
            </mat-form-field>
            <div class="alert alert-danger" *ngIf="!reason.valid && update_basic.submitted">
              Reason is Required....
            </div>
          </div>
        </div>
      </div>
    </div>
    <div mat-dialog-actions>
      <button mat-button color="warn"	 [mat-dialog-close]="false">Cancel</button>
      <button mat-button	 color="accent" type="submit" >Save</button>
    </div>
  </form>
</div>


<div class="edit-modal" *ngIf="this.organization=='organization'">
  <form validate #update_basic="ngForm" name="update_basic" (ngSubmit)="stateUnassign()"  >
    
    <p class="heading">state list</p>
    <div mat-dialog-content>
      <div class="cs-form">
        <div class="row">
          <div class="col s12">
            <mat-form-field class="cs-input"  appearance="outline">
              <mat-label>State</mat-label>
              <mat-select  name="state" placeholder="State" [formControl]="unassigned_state" multiple>
                <mat-option (click)="delete_state()"  *ngFor="let data of state_data" value="{{data.id}}" >{{data.state_name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          
        </div>
        
      </div>
    </div>
    <div mat-dialog-actions>
      <button mat-button color="warn"	 [mat-dialog-close]="false">Cancel</button>
      <button mat-button	 color="accent" type="submit" >Save</button>
    </div>
  </form>
</div>

<div class="edit-modal" *ngIf="this.organization=='raw_material'">
  <form validate #update_basic="ngForm" name="update_basic" (ngSubmit)="update_material()"  >
    
    <p class="heading">Edit Raw Material</p>
    <div mat-dialog-content class="cs-form">
      <div class="row mt10">
        <div class="row">
          <div class="col s4">
            <mat-form-field class="cs-input" appearance="outline">
              <mat-label>category</mat-label>
              <mat-select name="cateogry" [(ngModel)]="raw_data.category" required>
                <mat-option value="{{'Dry Good'}}">Dry Good</mat-option>
                <mat-option value="{{'Wet Good'}}">Wet Good</mat-option>
            </mat-select>
            </mat-form-field>
          </div>
          
          <div class="col s4" >
            <mat-form-field class="cs-input" appearance="outline">
              <mat-label>type</mat-label>
              <mat-select name="material_type" [(ngModel)]="raw_data.type">
                <mat-option value="{{'Common'}}">Common</mat-option>
                <mat-option value="{{'State Wise'}}">State Wise</mat-option>
            </mat-select>
            </mat-form-field>
          </div>
          
          <div class="col s4" >
            <mat-form-field class="cs-input" appearance="outline">
              <mat-label> brand</mat-label>
              <mat-select name="brand" [(ngModel)]="raw_data.brand">
                <mat-option *ngFor="let bran of brand_data" value="{{bran.brand_name}}">{{bran.brand_name}}</mat-option>
            </mat-select>
              
            </mat-form-field>
          </div>
          
        </div>
        <div class="row">
          <div class="col s4">
            <mat-form-field class="cs-input" appearance="outline">
              <mat-label>Item Name</mat-label>
              <input matInput placeholder="Type Here ..." type="text" name="item_name" [(ngModel)]="raw_data.item_name" required>
            </mat-form-field>
          </div>
          
          <div class="col s4" >
            <mat-form-field class="cs-input" appearance="outline">
              <mat-label>Item Code</mat-label>
              <input matInput placeholder="Type Here ..." type="text" name="item_code" [(ngModel)]="raw_data.item_code" required>   
            </mat-form-field>
          </div>
          
          <div class="col s4" >
            <mat-form-field class="cs-input" appearance="outline">
              <mat-label> Qty</mat-label>
              <input matInput placeholder="Type Here ..." type="number" name="qty" [(ngModel)]="raw_data.unit_quantity" required>
              
            </mat-form-field>
          </div>
          
        </div>  
       
      </div>
      <div class="row">
        <div class="col s4">
          <mat-form-field class="cs-input" appearance="outline">
            <mat-label>Size</mat-label>
              <input matInput placeholder="Type Here ..." type="text" name="unit_of_measurment" [(ngModel)]="raw_data.unit_of_measurment" required>
          </mat-form-field>
        </div>
        
        <div class="col s4" >
          <mat-form-field class="cs-input" appearance="outline">
            <mat-label>Lead Time(IN DAYS)</mat-label>
            <input matInput placeholder="Type Here ..." type="text" name="lead_time" [(ngModel)]="raw_data.lead_time">
          </mat-form-field>
        </div>
        <div class="col s4" >
          <mat-form-field class="cs-input" appearance="outline">
            <mat-label>Stock Alert</mat-label>
            <input matInput placeholder="Type Here ..." type="number" name="stock_alert" [(ngModel)]="raw_data.stock_alert">
          </mat-form-field>
        </div>
      </div>  
    </div>
    <div mat-dialog-actions>
      <button mat-button color="warn"	 [mat-dialog-close]="false">Cancel</button>
      <button mat-button	 color="accent" type="submit" >Save</button>
    </div>
  </form>
</div>


