<div class="edit-modal" >
  
  <div mat-dialog-content>
    <p class="heading">change Status </p>
    <div class="cs-form"> 
      
      <div class="row" *ngIf="data.type == 'seniorStatus'" >
        <div class="col s12">
          <mat-form-field class="cs-input"  appearance="outline">
            <mat-label>Senior Status</mat-label>
            <mat-select name="seniorStatus" [(ngModel)]="data.seniorStatus">
            <!-- <mat-select placeholder="Type Here ..."> -->
              <!-- <mat-option value="">Pending</mat-option> -->
              <mat-option value="Approved">Approved</mat-option>
              <mat-option value="Reject">Reject</mat-option>
            </mat-select>
          </mat-form-field>           
        </div>
      </div>
      
      <div class="row" *ngIf="data.type == 'acStatus' ">

        <!-- "data.type == acStatus" -->

        <div class="" [ngClass]="data.acStatus == 'Approved' ? 'col s6':'col s12'">
          <mat-form-field class="cs-input"  appearance="outline">
            <mat-label>A/C Status</mat-label>
            <mat-select name="acStatus" [(ngModel)]="data.acStatus" (ngModelChange)="data.approved_amount = '';data.reason = '' ">

            <!-- <mat-select placeholder="Type Here ..."> -->
              <!-- <mat-option value="">Pending</mat-option> -->
              <mat-option value="Approved">Approved</mat-option>
              <mat-option value="Reject">Reject</mat-option>
            </mat-select>
          </mat-form-field>           
        </div>

        <div class="col s6" *ngIf ="data.acStatus == 'Approved'" >
          <mat-form-field class="cs-input"  appearance="outline">
            <mat-label>Enter Amount</mat-label>
            <input onkeypress="return event.charCode>=48 && event.charCode<=57"  matInput placeholder="Type Here .." name="approved_amount" #approved_amount="ngModel" [(ngModel)]="data.approved_amount" required>
          </mat-form-field>           
        </div>
      </div>

      <div class="row" *ngIf="data.acStatus == 'Reject' || data.seniorStatus == 'Reject'">
        <div class="col s12">
          <mat-form-field class="cs-input"  appearance="outline">
            <mat-label>Reason Of Reject</mat-label>
            <textarea matInput placeholder="Type Here ..."  class="h90" type="text" name="reason" [(ngModel)]="data.reason"></textarea>
            <!-- <div class="alert alert-danger" *ngIf="!street.valid && update_basic.submitted">
              Address is required....
            </div> -->
          </mat-form-field>       
        </div>
      </div>
      
     </div>
  </div>
  
  <div mat-dialog-actions>
    <button mat-button color="warn" [mat-dialog-close]="false">Cancel</button>
    <button mat-button color="accent" [disabled]="(!data.acStatus && !data.seniorStatus) || (data.acStatus == 'Reject' && !data.reason) || (data.seniorStatus == 'Reject' && !data.reason) || (data.acStatus == 'Approved' && !data.approved_amount && data.approved_amount=='')" (click)="update_status()">Save</button>

  </div>
</div>