<div class="login">
  <div class="login-container">
    <div class="login-left">
      <div class="outer">
        <div class="inner">
          <div class="project-name">
            <ul>
              <li>
                <div class="digit-box">
                  <h2>C</h2>
                </div>
              </li>
              <li>
                <div class="digit-box">
                  <h2>R</h2>
                </div> 
              </li>
              <li>
                <div class="digit-box">
                  <h2>M</h2>
                </div>
              </li>
            </ul>
            <div class="full-form">
              <p>Customer</p> 
              <p>Relationship</p>
              <p>Management</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="login-right">
      <div class="outer">
        <div class="inner">
          <div class="login-form" [@routerTransition]>
            <div class="form-logo pb10">
              <!-- <img src="assets/img/company_logo.svg"> -->
              <img src="assets/img/logo.png" class="h60">
            </div>
            <div class="short-description">
              <p *ngIf="channel_partner == false">Please enter your username and password to login.</p>
              <p *ngIf="channel_partner == true">Please enter 6 digit otp number sent to +91 {{st_user.data.mobile}}.</p>
            </div>
            <div class="form">
              <form name="submit" #f="ngForm" (ngSubmit)="f.form.valid  && login()" *ngIf="channel_partner == false">
                <div class="control-field">
                  <mat-form-field class="example-full-width">
                    <input matInput name="username" [(ngModel)]="data.username"  placeholder="Name" required>
                    <i class="material-icons input-icon">person</i>
                  </mat-form-field>
                </div>
                <div class="control-field">
                  <mat-form-field class="example-full-width">
                    <input matInput type="password" name="password" [(ngModel)]="data.password" placeholder="password"required>
                    <i class="material-icons input-icon">vpn_key</i>
                  </mat-form-field>
                </div>
                <div class="cs-btn text-left mt30 fixedd140">
                  <div class="in-btn ">
                    <button mat-raised-button  matTooltipPosition="below" matTooltip="Login" class="login-btn" style="background: #00A0C1;">Login</button>
                  </div>
                </div>         
              </form>
              
              <form name="submit" #f1="ngForm" (ngSubmit)="submit_otp()" *ngIf="channel_partner == true">
                <div class="control-field">
                  <mat-form-field class="example-full-width">
                    <input matInput name="otp" [(ngModel)]="data.otp"  placeholder="OTP" required>
                    <i class="material-icons input-icon">person</i>
                  </mat-form-field>
                </div>
                
                <div class="cs-btn text-left mt30 fixedd140">
                  <div class="in-btn ">
                    <button mat-raised-button  matTooltipPosition="below" matTooltip="Login" class="login-btn" style="background: #00A0C1;">SAVE</button>
                  </div>
                </div>         
              </form>
            </div>
          </div>
        </div>
      </div>
      <p class="bootom-text">Powered by Abacusdesk</p>
    </div>
  </div>
</div>
