<div class="main-container">
  <div class="middle-container">
    <div class="page-heading">
      <div class="heading-text">
        <h2>Location Master</h2>
        <p>Add Location Master</p>
      </div>
      <div class="uppr-one m-right-data">
        <ul>
          <li>
            <a class="refresh-btn" mat-raised-button (click)="refresh()"  matTooltip="Refresh" ><i class="material-icons"> refresh</i></a>
          </li>
        </ul>
        </div>
    </div>
  
    <div class="left-auto">
      <div class="top-pagination" >
          <ul>
              <li>
                  <p>Pages {{pagenumber}} Of {{total_page}}</p>
              </li>
              <li *ngIf="pagenumber > 1">
                  <button mat-button class="left-btn" (click)="start=start-page_limit; area_list()" [disabled]="pagenumber == 1">
                      <i class="material-icons">keyboard_arrow_left</i>
                  </button>
              </li>
              <li>
                  <input type="text" placeholder="GO TO" name="pagenumber" (keyup.enter)="start=(pagenumber*page_limit)-page_limit; area_list()" [(ngModel)]="pagenumber"  min="1" max={{total_page}}>
              </li>
              
              <li *ngIf="pagenumber <= total_page">
                  <button mat-button class="right-btn"  (click)="start=start+page_limit; area_list()" [disabled]="pagenumber == total_page">
                      <i class="material-icons">keyboard_arrow_right</i>
                  </button>
              </li>
          </ul>
      </div>
  </div>
  
  
  </div>


  
  
  <div class="container-outer">
    <div *ngIf="loader">
      <mat-spinner class="loader">
        <div>
          <p>Loading....</p>
        </div>
      </mat-spinner>
    </div>
    
    <form>
      <div class="container">
        <div class="row">
          <div class="col s12">
            <div class="sprate-box cs-form">
              <div class="cs-heading">
                <h2>Location Master</h2>
                <span class="required">Indicates required fields ( <sup>*</sup> )</span>
              </div>
              
              <mat-divider class="left-right-15 mt10 mb10 "></mat-divider>
              <div class="cs-form">
                <div class="row">
                  <div class="col s4">
                    <mat-form-field class="cs-input"  appearance="outline">
                      <mat-label>State</mat-label>
                      <mat-select  name="state" placeholder="State" #state="ngModel"  [(ngModel)]="data.state" (ngModelChange)="data.area = '';" [ngClass]="{'has-error' : distirct.invalid } " required>
                        <mat-option disabled="">Select State</mat-option>
                        <mat-option *ngFor="let state of state_list"(keyup.enter)="getDistrict(state)"(click)="getDistrict(state)" value="{{state}}">{{state}}</mat-option>
                      </mat-select>

                      <!-- <div class="alert alert-danger" *ngIf="!(data.state)">
                        State is required...
                    </div> -->
                    </mat-form-field>
                  </div>
                  <div class="col s4">
                    <mat-form-field class="cs-input"  appearance="outline">
                      <mat-label>District</mat-label>
                      <mat-select  name="distirct" placeholder="District" #distirct="ngModel"  [(ngModel)]="data.distirct" (ngModelChange)="data.area = '';" [ngClass]="{'has-error' : distirct.invalid } " required>
                        <mat-option disabled="">Select District</mat-option>
                        <mat-option *ngFor="let district of district_list" value="{{district}}">{{district}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col s4">
                  <div class="df">
                    <mat-form-field class="cs-input"  appearance="outline">
                      <mat-label>Area</mat-label>
                      <input matInput type="text" name="area" #area="ngModel"  [(ngModel)]="data.area" (ngModelChange)="check_area()" required> 
                    </mat-form-field>
                      <a class="add-item ml15" [disabled]="(!(data.state && data.state!='' && data.distirct && data.distirct!='' && data.area && data.area!='') || (areaFlag > 0))" mat-raised-button><i class="material-icons" (click)=" (data.state && data.distirct && data.area) ?submit_area():''">add</i></a>
                      <!-- <a class="add-item ml15" [disabled]="(!(data.state && data.state!='' && data.distirct && data.distirct!='' && data.area && data.area!='') || (false))" mat-raised-button><i class="material-icons" (click)=" (data.state && data.distirct && data.area) ?submit_area():''">add</i></a> -->

                  </div>
                  </div>
                </div>
               
                <div class="cs-table left-right-10">
                  <div class="sticky-head">
                    <div class="table-head border-top">
                      <table>
                        <tr>
                          <th class="w50 text-center">S No</th>
                          <th class="w250">State</th>
                          <th class="w250">District</th>
                          <th >Area</th>
                          <!-- <th class="w100">Description</th> -->
                          <th class="w200 text-center" >Action</th>
                        </tr>
                      </table>
                    </div>
                    <div class="table-head bdrt" >
                      <table>
                        <tr>
                          <th class="w50"></th>
                          <th class="w250">
                            <div class="th-search-acmt">
                              <mat-form-field class="example-full-width cs-input select-input">
                                <input matInput placeholder="Enter state. . ." type="text" name="state_filter" [(ngModel)]="search_val.state_filter" (keyup)="area_list()">
                              </mat-form-field>
                            </div>
                          </th>
                          <th class="w250">
                            <div class="th-search-acmt">
                              <mat-form-field class="example-full-width cs-input select-input">
                                <input matInput placeholder="Enter District. . ." type="text" name="district_filter" [(ngModel)]="search_val.district_filter" (keyup)="area_list()">
                              </mat-form-field>
                            </div>
                          </th>
                          <th>
                            <div class="th-search-acmt">
                              <mat-form-field class="example-full-width cs-input select-input">
                                <input matInput placeholder="Enter Area. . ." type="text" name="area_filter" [(ngModel)]="search_val.area_filter" (keyup)="area_list()">
                              </mat-form-field>
                            </div>
                          </th>
                          <th class="w200">
                           
                          </th>
                          </tr>
                          </table>
                          </div>
                  </div>
                  <div class="table-container">
                    <div class="table-content">
                      <table> 
                        <ng-container *ngFor="let data of arealist,let i = index">
                        <tr >
                          <td class="w50 text-center">{{start+i+1}}</td>
                          <td class="w250">{{data.state}}</td>
                          <td class="w250">{{data.distirct}}</td>
                          <td *ngIf="editLocation != data.id">{{data.area}}</td>
                          <td *ngIf="editLocation == data.id">
                            <div class="place-input active">
                              <input name="Area{{i}}" type="text" placeholder="Enter Area" #area="ngModel" [(ngModel)]="data.area">
                          </div>
                          </td>

                          <!-- <td *ngIf="editLocation != data.id" class="w100" matTooltip="{{data.area_description}}" matTooltipPosition="above">
                            <div class="one-line">{{data.area_description}}</div>
                          </td> -->

                          <!-- <td *ngIf="editLocation == data.id" class="w100">
                            <div class="place-input active">
                              <input name="Description{{i}}" type="text" placeholder="Enter Description" #area_description="ngModel" [(ngModel)]="data.area_description">
                          </div>
                          </td> -->

                          <td class="w200 text-center">
                            <button *ngIf="editLocation != data.id" mat-button class="delete-mat" (click)="showSave = !showSave; editLocation = data.id"> <i class="material-icons green-clr" mat-button matTooltip="Edit">create</i></button>
                            <button *ngIf="editLocation == data.id" true mat-button class="delete-mat" (click)="updateData(data.id,data.area,data.area_description);showSave = !showSave ; editLocation = 0"> <i class="material-icons green-clr" mat-button matTooltip="Save">save</i></button>
                            <!-- <button mat-button class="delete-mat"><i class="material-icons red-clr" (click)="delete_area(data.id)">delete_sweep</i></button> -->
                            <button mat-button class="delete-mat"><i class="material-icons red-clr" (click)="assignArea(data.id,data.area)">delete_sweep</i></button>

                          </td>
                        </tr>
                      </ng-container>
                        <!-- <ng-container *ngFor="let lead of skelton">
                          <tr class="sk-loading" *ngIf="loader">
                              <td class="w30 text-center">
                                  <div>&nbsp;</div>
                              </td>
                            
                              <td class="w90">
                                  <div>&nbsp;</div>
                              </td>
                              <td class="w50">
                                  <div>&nbsp;</div>
                              </td>
                              <td class="w100">
                                  <div>&nbsp;</div>
                              </td>
                             
                              <td class="w100">
                                  <div>&nbsp;</div>
                              </td>
                              <td class="w50">
                                <div>&nbsp;</div>
                            </td>
                          </tr>
                      </ng-container> -->
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>