<div class="main-container">
    <div class="middle-container mb0">
        <div class="page-heading">
            <div class="heading-text bc-space">
                <div class="back-btn">
                    <a mat-button (click)="backToList()"><i class="material-icons">west</i></a>
                </div>
                <h2>Travel Plan Detail</h2>
                <!-- <p>10</p> -->
            </div>
        </div>
    </div>
    
    <div class="container-outer padding0">
        <div class="container" >
            <div class="row mt15">
                <div class="col s12">
                    <div class="details-info">
                        <div class="basic-details">
                            <div class="cs-heading">
                                <h2>Basic Detail</h2>
                                <!-- <button  class="edit-item" mat-raised-button color="accent" (click)="edit_dr_detail(dr_detail.company_name,dr_detail.type,dr_detail.mobile,dr_detail.email,dr_detail.gst,dr_detail.assign_distributor,dr_detail.landline_no,dr_detail.name,dr_detail.date_of_birth,dr_detail.date_of_anniversary,dr_detail.password,'basic_detail',dr_detail.target,dr_detail.opening_balance,dr_detail.whatsapp_no, dr_detail.username, dr_detail.dr_code ,dr_detail.category_code)">
                                    <i class="material-icons">create</i>
                                </button> -->
                            </div>
                            <div class="cs-figure">
                                <ul class="minus-top">
                                    <li>
                                        <div class="outer">
                                            <div class="inner">
                                                <span>Sales User</span>
                                                
                                                <p>{{travellist.assign_to_name}}({{travellist.contact_01}})</p>
                                                
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="outer">
                                            <div class="inner">
                                                
                                                <span>Date From</span>
                                                <p>{{travellist.date_from |date : 'd MMM y'}}</p>
                                                
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="outer">
                                            <div class="inner">
                                                
                                                <span>Date To</span>
                                                <p>{{travellist.date_to |date : 'd MMM y'}}</p>
                                            </div>
                                        </div>
                                    </li>
                                    
                                    
                                    <li>
                                        <div class="outer">
                                            <div class="inner">
                                                <span>Plan Type</span>
                                                <p>{{travellist.travel_type}}</p>
                                            </div>
                                        </div>
                                    </li>
                                    
                                </ul>
                                <ul class="minus-top">
                                    <li>
                                        <div class="outer">
                                            <div class="inner">
                                                <span>Created By.</span>
                                                <p>{{travellist.created_by_name && travellist.created_by_name != '' && travellist.created_by_name != null?travellist.created_by_name:'--'}}</p>
                                            </div>
                                        </div>
                                    </li>
                                    
                                    <li>
                                        <div class="outer">
                                            <div class="inner">
                                                
                                                <span>Remark</span>
                                                <p>{{travellist.status_remark && travellist.status_remark != '' && travellist.status_remark != null?travellist.status_remark:'--'}}</p>
                                                
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="outer">
                                            <div class="inner">
                                                <span>Status</span>
                                                <p>{{travellist.status && travellist.status != '' && travellist.status != null?travellist.status:'--'}}</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li *ngIf="travellist.status=='Reject'">
                                        <div class="outer">
                                            <div class="inner">
                                                <span>Reason of Reject</span>
                                                <p>{{travellist.reason && travellist.reason != '' && travellist.reason != null?travellist.reason:'--'}}</p>
                                                
                                            </div>
                                        </div>
                                    </li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            
            <div class="row mt15">
                <div class="col s6" *ngIf="traveldistributor.length">
                    <div class="details-info">
                        <div class="basic-details">
                            <div class="cs-heading">
                                <h2>Distributor detail</h2>
                                <!-- <button  class="edit-item" mat-raised-button color="accent" (click)="edit_dr_detail(dr_detail.company_name,dr_detail.type,dr_detail.mobile,dr_detail.email,dr_detail.gst,dr_detail.assign_distributor,dr_detail.landline_no,dr_detail.name,dr_detail.date_of_birth,dr_detail.date_of_anniversary,dr_detail.password,'basic_detail',dr_detail.target,dr_detail.opening_balance,dr_detail.whatsapp_no, dr_detail.username, dr_detail.dr_code ,dr_detail.category_code)">
                                    <i class="material-icons">create</i>
                                </button> -->
                            </div>
                            <div class="cs-table" style="margin: -10px;">
                                <div class="sticky-head">
                                    <div class="table-head">
                                        <table>
                                            <tr>
                                                <th class="w30">S.No</th>
                                                <th class="w30"></th>
                                                <th class="w100 text-center">Company Name</th>
                                                <th class="w100 text-center">Network</th>
                                                <th class="w100 text-center">Network Type</th>
                                            </tr>
                                        </table>
                                    </div>
                                </div>        
                                <div class="table-container">
                                    <div class="table-content">
                                        <div class="table-content table-scroll">
                                        <table>
                                            <tr *ngFor="let list of traveldistributor;let i=index">
                                                <td class="w30">{{i+1}}</td>
                                                <td class="w30">
                                                <button mat-button class="verify-mat">          
                                                        <i *ngIf="list.checkin_verification_flag == 1" class="material-icons verify-button">verified</i>
                                                        <i *ngIf="list.checkin_verification_flag == 0" class="material-icons cancel-button">cancel</i>
                                                    </button>
                                                </td>
                                                <td class="w100 text-center">{{(list.company_name?list.company_name :'--') | uppercase }}</td>
                                                <td class="w100 text-center" *ngIf="list.lead_type == 'Lead'">Lead Network</td>
                                                <td class="w100 text-center" *ngIf="list.lead_type == 'Dr'">Distributor Network</td>
                                                <td class="w100 text-center" *ngIf="list.type == '1'">Distributor/Dealers</td>
                                                <td class="w100 text-center" *ngIf="list.type == '3'">Retailers</td>
                                                <td class="w100 text-center" *ngIf="list.type == '9'">Project</td>
                                                <td class="w100 text-center" *ngIf="list.type == '5'">End User</td>
                                                <td class="w100 text-center" *ngIf="list.type == '10'">Contractor</td>
                                                <td class="w100 text-center" *ngIf="list.type == '11'">Architect</td>
                                                <td class="w100 text-center" *ngIf="list.type == '15'">Customer</td>
                                                <td class="w100 text-center" *ngIf="list.type == '13'">Builder</td>
                                                <td class="w100 text-center" *ngIf="list.type == '14'">Cement Dealer</td>
                                                <td class="w100 text-center" *ngIf="list.type == '12'">Online Enquiry</td>
                                                <td class="w100 text-center" *ngIf="list.type == '7'">Direct Dealer</td>                                                
                                            </tr>
                                        </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="" [ngClass]="traveldistributor.length ? 'col s6':'col s10'" *ngIf="travellist.travel_type == 'Area Visit'">
                    <div class="details-info">
                        <div class="basic-details">
                            <div class="cs-heading">
                                <h2>Area Details</h2>
                            </div>
                            
                            <div class="cs-list-item">
                                <div class="type-body" *ngFor="let data of travelarea; let i = index">
                                    <p>AREA {{i+1}}</p> 
                                    <ul>
                                        <li>
                                            <span>{{data.state}}</span>
                                        </li>
                                        <li>
                                            <span>{{data.district}}</span>
                                        </li>
                                        <li>
                                            <span>{{data.area}}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>
