<div class="main-container" [@routerTransition]>
  <div class="middle-container">
    <div class="page-heading">
      <img src="assets/img/leads_icon.svg" class="h-icon">
      <div class="heading-text">
        <h2>Gift</h2>
        <p>Add New POP & Gift</p>
      </div>
    </div>
  </div>
  
  <div class="container-outer">
    <app-master-tab></app-master-tab>
    <div class="container tab-container" >
      <div class="row">
        <div class="col s12">
          <div class="sprate-box">
            <div class="cs-heading">
              <h2>POP & GIFT</h2>
              <span class="required">Indicates required fields ( <sup>*</sup> )</span>
            </div>
            
            <mat-divider class="left-right-15 mt10"></mat-divider>
            <div class="from-fields">
              <div class="row">
                <div class="col s8 pl0">
                  <div class="control-field">
                    <mat-form-field class="cs-input">
                      <input matInput placeholder="NAME*">
                    </mat-form-field>
                  </div>
                </div>
                <div class="col s4 pr0">
                  <div class="control-field">
                    <mat-form-field class="cs-input">
                      <input matInput placeholder="Qty">
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
            <mat-divider class="left-right-15 mt20 mb10"></mat-divider>
            <div class="cs-heading">
              <h2>DESCRIPTION</h2>
            </div>
            <mat-divider class="left-right-15 mt10"></mat-divider>
            
            
            <div class="row">
              <div class="col s12">
                <div class="editor">
                  <img src="assets/img/editor.jpg" class="wp100 mt15">
                </div>
              </div>
            </div>
            
            <div class="row">
              <div class="col s12">
                <div class="cs-file">
                  <p>Upload Image</p>
                  <ul>
                    <li>
                      <label>
                        <img src="assets/img/product.png">
                      </label>
                    </li>
                    <li>
                      <div class="cs-file">
                        <label>
                          <input type="file" style="display:none;">
                          <i class="material-icons add-file-icon" >add</i>
                        </label>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        
        <div class="col s12">
          <div class="cs-btn fixedd mt32 text-right">
            <div class="in-btn">
              <button mat-raised-button color="accent">Save</button>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>

