<div class="main-container">
  <div class="middle-container">
    <div class="page-heading">
      <div class="heading-text">
        <h2>Unit Master</h2>
      </div>
     
    </div>
  
  </div>


  <div class="container-outer">
    <form>
      <div class="container">
        <form class="row">
          <div class="col s12">
            <div class="sprate-box cs-form">
              <div class="cs-heading">
                <h2>Unit Master</h2>
                <span class="required">Indicates required fields ( <sup>*</sup> )</span>
              </div>
              
              <mat-divider class="left-right-15 mt10 mb10 "></mat-divider>
              <div class="cs-form">
                <div class="row">
                  <div class="col s4">
                    <mat-form-field class="cs-input"  appearance="outline">
                      <mat-label>Unit</mat-label>
                      <mat-select  name="organization" placeholder="Unit" [(ngModel)]="data.organization" >
                        <mat-option disabled="">Select Unit</mat-option>
                        <mat-option *ngFor="let org of organization_name" value="{{org.id}}">{{org.organization_name}}</mat-option>
                      </mat-select>

                      <!-- [value]="org.id + org.name" -->
                    </mat-form-field>
                  </div>
                  <div class="col s4">
                    <mat-form-field class="cs-input"  appearance="outline">
                      <mat-label>State</mat-label>
                      <mat-select  name="state" placeholder="State" [formControl]="multiple_state" multiple>
                        <mat-option disabled="">Select State</mat-option>
                        <mat-option   (click)="assign_state()"  *ngFor="let state of state_list" value="{{state.id}}">{{state.state_name}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col s4">
                  <div class="df">
                    <button mat-raised-button color="accent" type="submit" (click)="organization_assign_list()" >Assign State</button>
                    
                  <!-- <a class="add-item ml15" (click)="organization_assign_list()">add</a> -->

                  </div>
                  </div>
                </div>
               
                <div class="cs-table left-right-10">
                  <div class="sticky-head">
                    <div class="table-head border-top">
                      <table>
                        <tr>
                          <th class="w50 text-center">S No</th>
                          <th class="w200 text-center">Unit</th>
                          <th >State Name </th>
                          <th class="w120 text-center" >Action</th>
                        </tr>
                      </table>
                    </div>
                
                  </div>
                  <div class="table-container">
                    <div class="table-content">
                      <table> 
                        <ng-container >
                        <tr *ngFor="let row of organizaton_data; let i=index">
                          <td class="w50 text-center">{{i+1}}</td>
                          <td class="w200 text-center">{{row.organization_name}}</td>
                          <td>
                            <mat-chip-list>
                              <ng-container  *ngFor="let data of row['assigned_state']">
                                <mat-chip>{{data.state_name}}</mat-chip>
                              </ng-container>
                            <!-- <mat-chip>Uttar Pradesh</mat-chip>
                            <mat-chip>Delhi</mat-chip> -->

                            </mat-chip-list>
                            </td>
                          <td class="w120 text-center">
                            <!-- <button mat-button class="delete-mat" > <i class="material-icons green-clr" mat-button matTooltip="Edit">create</i></button> -->
                            <!-- <button > <i class="material-icons green-clr" mat-button matTooltip="Save">save</i></button> --> 
                            <button mat-raised-button  color="warn" (click)=" delete_state(row)">Remove State</button>
                          </td> 
                        </tr>
                      </ng-container>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
  </div>
