<div class="navigation" *ngIf="login_data.view_dashboard=='1'" >
    <ul>
        <li *ngIf="login_data.view_dashboard=='1'">
            <a mat-button  title="dashboard" routerLink="/dashboard" (click)="toggleDropdown(0)" routerLinkActive="active"><i class="material-icons nav-icon">desktop_windows</i>Dashboard </a>
        </li>
        
       
        <li >
            <a mat-button routerLink="/direct-dealer" (click)="toggleDropdown(0)" routerLinkActive="active"><i class="material-icons nav-icon">people_alt</i> Customer
                <span class="nav-counter orange-count">{{count.customer}}</span>
            </a>
            
        </li>
        
        <li *ngIf="login_data.view_orders=='1'">
            <a mat-button routerLink="/order-list" (click)="toggleDropdown(0)" routerLinkActive="active"><i class="material-icons nav-icon">shopping_cart</i> Orders 
                <span class="nav-counter orange-count">{{count.primary_order_count}}</span>
            </a>
            
        </li>
        
       
        <li *ngIf="login_data.view_attendence=='1'">
            <a mat-button routerLink="/attendance" (click)="toggleDropdown(0)" routerLinkActive="active"><i class="material-icons nav-icon">insert_invitation</i> Attendance </a>
        </li>
        
        <li *ngIf="login_data.view_check_in=='1'">
            <a mat-button routerLink="/checkin" (click)="toggleDropdown(0)" routerLinkActive="active"><i class="material-icons nav-icon">my_location</i> Check In </a>
        </li>
        
       
        <li *ngIf="login_data.view_leaves=='1'">
            <a mat-button (click)="toggleDropdown(0)" routerLink="/leave-list" routerLinkActive="active">
                <i class="material-icons nav-icon">exit_to_app</i>
                Leaves
                <span class="nav-counter orange-count">{{count.leave_count}}</span>
                
            </a>
        </li>
        
        <li *ngIf="login_data.view_travel_plan=='1'">
            <a mat-button routerLink="/travel-list" routerLinkActive="active">
                <i class="material-icons nav-icon">directions_transit</i>
                Travel Plan
                <span class="nav-counter orange-count">{{count.travel_plan}}</span>
                
            </a>
        </li>
        
        <li *ngIf="login_data.follow_up=='1'">
            <a mat-button routerLink="/followup-list" routerLinkActive="active">
                <i class="material-icons nav-icon">add_ic_call</i>
                Follow Up
                <span class="nav-counter orange-count">{{count.followup_count}}</span>
                
            </a>
        </li>
        
        <li *ngIf="login_data.announcement=='1'">
            <a mat-button routerLink="/announcement-list" outerLinkActive="active">
                <i class="material-icons nav-icon">campaign</i>
                Announcement
                <span class="nav-counter orange-count">{{count.notic_count}}</span>
                
            </a>
        </li>
        
        <li >
            <a mat-button routerLink="/expense-list" routerLinkActive="active">
                <i class="material-icons nav-icon">account_balance_wallet</i>
                Expense
            </a>
        </li>
        
       
        <li >
            <a mat-button routerLink="/pop-gift-list" routerLinkActive="active">
                <i class="material-icons nav-icon">card_giftcard</i>
                Pop & Gift
                <!-- <span class="nav-counter orange-count">{{serve.counterArray.secondary_order}}</span> -->
                
            </a>
        </li>
        <li>
            <a routerLink="/vendor-list" routerLinkActive="active">
                Vendors
                <i class="material-icons nav-icon">person_add_alt_1 </i>
                <span class="nav-counter orange-count">{{count.vendor_count}}</span>
            </a>
        </li>
        <li>
            <a routerLink="/purchase-order-list" routerLinkActive="active">
                
                Purchase Order
                
                <i class="material-icons nav-icon">shopping_cart </i>
                <span class="nav-counter orange-count">{{count.purchase_order_count}}</span>
            </a>
        </li>
        <li class="dropdown">
            <a mat-button (click)=toggleDropdown(6) [ngClass]="{'active':stockactive}" ><i class="material-icons nav-icon">inventory</i> Stock </a>
            <ul>
                <li >
                    <a mat-button routerLink="/stock-list" routerLinkActive="active">
                        Raw Material Stock
                        <i class="material-icons">chevron_right</i>
                        <!-- <span class="nav-counter orange-count">{{count.raw_material_stock}}</span> -->
                    </a>
                </li>
                <li >
                    <a mat-button routerLink="/finish-good-stock-list"  routerLinkActive="active">
                        Finish Good Stock
                        <i class="material-icons">chevron_right</i>
                        <!-- <span class="nav-counter orange-count">{{count.product}}</span> -->
                    </a>
                </li>
               
                <li >
                    <a mat-button routerLink="/production-plan-list" routerLinkActive="active">
                        Production Plan
                        <i class="material-icons">chevron_right</i>
                        <span class="nav-counter orange-count">{{count.production_plan_count}}</span>
                    </a>
                </li>
                
            </ul>
        </li>
       
        <li >
            <a mat-button   routerLink="/userview-target"  routerLinkActive="active"><i class="material-icons nav-icon">book </i>Target </a>
        </li>
        
        <li class="dropdown">
            <a  mat-button (click)=toggleDropdown(3) [ngClass]="{'active':masteractive}"><i class="material-icons nav-icon">star_rate</i>Masters </a>
            <ul>
                
                <li>
                    <a routerLink="/organization" routerLinkActive="active">
                        Unit
                        <i class="material-icons">chevron_right </i>
                        
                    </a>
                </li>
                <li>
                    <a routerLink="/raw-material-list" routerLinkActive="active">
                        Raw Material
                        <i class="material-icons">chevron_right </i>
                        <span class="nav-counter orange-count">{{count.raw_count}}</span>

                        
                    </a>
                </li>
                <li>
                    <a routerLink="/product-master-list" routerLinkActive="active">
                        Finish Good
                        <i class="material-icons">chevron_right </i>
                        <span class="nav-counter orange-count">{{count.product}}</span>

                        
                    </a>
                </li>
                <li >
                    <a mat-button routerLink="/sale-user-list" routerLinkActive="active">
                        Users
                        <i class="material-icons">chevron_right </i>
                        <span class="nav-counter orange-count">{{count.user}}</span>
                    </a>
                </li>
                
                <li >
                    <a mat-button routerLink="/allowances" routerLinkActive="active">
                        Allowance Master
                        <i class="material-icons">chevron_right </i>
                    </a>
                </li>
                
                <li *ngIf="login_data.view_category_master=='1'">
                    <a routerLink="/location-Master" routerLinkActive="active">
                        Location Master
                        <i class="material-icons">chevron_right </i>
                        
                    </a>
                </li>
                
            </ul>
        </li>
        
      
    </ul>
</div>

