<div class="main-container" >
  <div class="middle-container">
    <div class="page-heading">
      <div class="heading-text">
        <h2>Raw Material Stock</h2>
        <!-- <p>Total Announcement " 25 "</p> -->
      </div>
    </div>
    <div class="left-auto">
      <div class="cs-form">
        <mat-form-field class="cs-input w200" appearance="outline">
          <mat-label>Select Unit</mat-label>
          <mat-select name="organization" [(ngModel)]="data.organization" >
            <mat-option *ngFor="let org of organizaton_data" value="{{org.id}}" (click)="stock_list()" >{{org.organization_name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      
    </div>
    <div class="ml10">
      <button mat-raised-button color="accent" routerLink="/manual-adjustment-stock">Manual Adjustment</button>
    </div>
  </div>
  
  <div class="container-outer padding0">
    <div class="container mb60" >
      <div class="cs-table">
        <div class="sticky-head">
          <div class="table-head">
            <table class="sno-border">
              <tr >
                <th class="w30">S.No</th>
                <th class="w80 text-center">Unit</th>
                <th class="w80 text-center">State</th>
                <th class="w100 text-center">Item Name </th>
                <th class="w80 text-center">Brand</th>
                <th class="w100 text-center">Size</th>
                <th class="w80 text-center">Stock</th>
                <th class="w80 text-center"> Hold Stock</th>
                <th class="w80 text-center"> Balance Stock</th>
                <th class="w150 text-center"> Action</th>
                
              </tr>
            </table>
          </div>
          <div class="table-head bdrt">
            <table class="sno-border">
              <tr>
                <th class="w30">&nbsp;</th>
                <th class="w80">  
                </th>
                <th  class="w80">
                  <div class="th-search-acmt">
                    <mat-form-field class="example-full-width cs-input select-input">
                      <input matInput placeholder="search..."   name="created_by" #created_by="ngModel" [(ngModel)]="data.state" (keyup.enter)="stock_list()">
                    </mat-form-field>
                  </div>
                </th>
                <th class="w100">
                  <div class="th-search-acmt">
                    <mat-form-field class="example-full-width cs-input select-input">
                      <input matInput placeholder="search..."   name="unit" #unit="ngModel" [(ngModel)]="data.item_name" (keyup.enter)="stock_list()">
                    </mat-form-field>
                  </div>
                </th>
                <th class="w80">
                  <div class="th-search-acmt">
                    <mat-form-field class="example-full-width cs-input select-input">
                      <input matInput placeholder="search..."   name="item_name" #item_name="ngModel" [(ngModel)]="data.brand" (keyup.enter)="stock_list()">
                    </mat-form-field>
                  </div></th>
                  
                  <th class="w100">
                    <div class="th-search-acmt">
                      <mat-form-field class="example-full-width cs-input select-input">
                        <input matInput placeholder="search..."   name="item_name" #brand="ngModel" [(ngModel)]="data.size" (keyup.enter)="stock_list()">
                      </mat-form-field>
                    </div></th>
                    
                    <th class="w80">
                      &nbsp;
                    </th>
                      
                      <th class="w80"></th>
                      <th class="w80"></th> 
                      <th class="w150"></th>
                      
                    </tr>
                  </table>
                </div>
              </div>
              
              <div class="table-container">
                <div class="table-content">
                  <table class="sno-border">
                    <tr *ngFor="let list of stock_data;let i=index;">
                      <td class="w30">{{i+1}}</td>
                      <td class="w80 text-center">{{list.organization_name}}</td>
                      <td class="w80 text-center">{{list.state_name?list.state_name:'COMMON'}}</td>  
                      <td class="w100 text-center">{{list.raw_name}}</td>
                      <td class="w80 text-center">{{list.brand}}</td>
                      <td class="w100 text-center">{{list.unit_of_measurement}}</td>
                      <td class="w80 text-center">{{list.stock}}</td>
                      <td class="w80 text-center">{{list.hold_stock}}</td>
                      <td class="w80 text-center">{{list.balance_stock}}</td>
                      <td class="w150 text-center">
                        <button mat-raised-button class="delete-mat"  color="accent" routerLink="/stock-transaction-detail/{{list.id}}" routerLinkActive="active">View Transaction</button>
                        
                      </td>
                      
                    </tr>
                    
                    <!-- <ng-container *ngFor="let lead of skelton">
                      <tr class="sk-loading"  *ngIf="loader">
                        <td class="w30"><div>&nbsp;</div></td>
                        <td class="w80"><div>&nbsp;</div></td>
                        <td class="w80"><div>&nbsp;</div></td>
                        <td  class="w100"><div>&nbsp;</div></td>
                        <td class="w80"><div>&nbsp;</div></td>
                        <td class="w100"><div>&nbsp;</div></td>
                        <td class="w80"><div>&nbsp;</div></td>
                        <td class="w80"><div>&nbsp;</div></td>
                        <td class="w80"><div>&nbsp;</div></td>
                        <td class="w80"><div>&nbsp;</div></td>
                      </tr>
                    </ng-container> -->
                  </table>
                </div>
              </div>
              
              
              <div class="no-data" *ngIf="stock_data.length==0">
                <img src="assets/img/no-data.gif" alt="">
                <p>Data not <span>available !</span></p>
              </div>
            </div>
          </div>
          
        </div>

        <div class="fix-btn">
          <a class="bottom-btn ecxel-btn" matTooltip="Download Excel" matTooltipPosition="above" mat-raised-button (click)="exportAsXLSX()"><img src="assets/img/excel.svg"></a>    
        </div>
      </div>
      
      