<div class="edit-modal">
  <form #addActivity="ngForm" (ngSubmit)="addActivity.valid && submitActivity()">
    <div mat-dialog-content>
      <p class="heading">Add Activity</p>
      <div class="cs-form">
        <div class="row">
          <div class="col s12">

            <mat-form-field class="cs-input" appearance="outline">
              <mat-label>Activity Type</mat-label>
              <mat-select name="sourceType" #activityType="ngModel" [(ngModel)]="activity.activityType"
                [ngClass]="{'has-error' : activityType.invalid } " required>
                <mat-option disabled="">Select Source Type</mat-option>
                <mat-option value="Meeting">Meeting</mat-option>
                <mat-option value="Call">Call</mat-option>
                <mat-option value="SMS">SMS</mat-option>
                <mat-option value="Email">Email</mat-option>
              </mat-select>
            </mat-form-field>

            <div class="alert alert-danger" *ngIf="!activityType.valid && addActivity.submitted">
              Actitvity Type is required...
            </div>

          </div>

        </div>

        <div class="row">

          <div class="col s6">
            <mat-form-field class="cs-input" appearance="outline">
              <mat-label>Stage</mat-label>

              <mat-select name="category" #category="ngModel" [(ngModel)]="activity.category"
                [ngClass]="{'has-error' : category.invalid } " required>
                <mat-option disabled="">Select Type</mat-option>
                <mat-option value="Hot">Hot</mat-option>
                <mat-option value="Cold">Cold</mat-option>
                <mat-option value="Warm">Warm</mat-option>
                <mat-option value="Close">Close</mat-option>
              </mat-select>
            </mat-form-field>

            <div class="alert alert-danger" *ngIf="!category.valid && addActivity.submitted">
              Stage is required...
            </div>

          </div>



          <div class="col s6">
            <mat-form-field class="cs-input" appearance="outline">
              <mat-label>Status</mat-label>
              <mat-select name="status" #status="ngModel" [(ngModel)]="activity.status"
                [ngClass]="{'has-error' : status.invalid } " required>
                <mat-option disabled="">Select Status Type</mat-option>
                <mat-option value="leadBank">Lead Bank</mat-option>
                <mat-option value="validate">Validate</mat-option>
                <mat-option value="qualified">Qualified</mat-option>
                <mat-option value="disqualified">Disqualified</mat-option>
                <mat-option value="win">Win</mat-option>
                <mat-option value="lost">Lost</mat-option>
                <mat-option value="On Hold">On Hold</mat-option>
                <mat-option value="Finalized">Finalized</mat-option>
                <mat-option value="Need To Send Quotation">Need To Send Quotation</mat-option>
                <mat-option value="Wrong Number">Wrong Number</mat-option>
                <mat-option value="Ringing">Ringing</mat-option>
                <mat-option value="Complaint">Complaint</mat-option>
                <mat-option value="Not Connected">Not Connected</mat-option>
                <mat-option value="Canceled Requirement">Canceled Requirement</mat-option>
                
              </mat-select>
            </mat-form-field>
            <div class="alert alert-danger" *ngIf="!status.valid && addActivity.submitted">
              Status is required...
            </div>
          </div>

        </div>


        <div class="row">

          <div class="col s12">
            <mat-form-field class="cs-input" appearance="outline">
              <mat-label>Remark</mat-label>
              <textarea matInput placeholder="Enter Remark ..." name="remark" #remark="ngModel"
                [(ngModel)]="activity.remark" [ngClass]="{'has-error' : remark.invalid } " required></textarea>
            </mat-form-field>

            <div class="alert alert-danger" *ngIf="!remark.valid && addActivity.submitted">
              Remark is required...
            </div>

          </div>
        </div>

        <mat-checkbox name="isFollowup" type="isFollowup" [(ngModel)]="activity.isFollowup">Do you want to create any
          follow
          up ?
        </mat-checkbox>

        <div *ngIf="activity.isFollowup" class="mt10">
          <div class="row">
            <div class="col s6">
              <mat-form-field class="cs-input" appearance="outline">
                <mat-label>Follow Up Type</mat-label>
                <mat-select name="followUp_Type" #followUp_Type="ngModel" [(ngModel)]="activity.followUp_Type"
                  [ngClass]="{'has-error' : followUp_Type.invalid } " required>
                  <mat-option disabled="">Select Source Type</mat-option>
                  <mat-option value="Meeting">Meeting</mat-option>
                  <mat-option value="Call">Call</mat-option>
                  <mat-option value="SMS">SMS</mat-option>
                  <mat-option value="Email">Email</mat-option>
                </mat-select>
              </mat-form-field>

              <div class="alert alert-danger" *ngIf="!followUp_Type.valid && addActivity.submitted">
                Follow Up Type is required...
              </div>

            </div>
            <div class="col s6">
              <mat-form-field class="cs-input" appearance="outline">
                <mat-label>Next Follow Up Date</mat-label>
                <input matInput min="{{today_date}}" [matDatepicker]="create_date" type="text" name="followUp_date"
                  #followUp_date="ngModel" [(ngModel)]="activity.next_followup_date"
                  [ngClass]="{'has-error' : followUp_date.invalid } " required>
                <mat-datepicker-toggle matSuffix [for]="create_date"></mat-datepicker-toggle>
                <mat-datepicker #create_date></mat-datepicker>

              </mat-form-field>
              <div class="alert alert-danger" *ngIf="!followUp_date.valid && addActivity.submitted">
                Date is required...
              </div>
            </div>

          </div>
          <div class="row">
            <div class="col s12">
              <mat-form-field class="cs-input" appearance="outline">
                <mat-label>Follow Up Remark</mat-label>
                <textarea matInput placeholder="Enter Follow Up Remark ..." name="followup_remark"
                  #followup_remark="ngModel" [(ngModel)]="activity.followup_remark"
                  [ngClass]="{'has-error' : followup_remark.invalid } " required></textarea>
              </mat-form-field>
              <div class="alert alert-danger" *ngIf="!followup_remark.valid && addActivity.submitted">
                Follow Up Remark is required...
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col s12">
              <div class="territory-info">
                <div class="head">
                  <h2>Sales User</h2>
                </div>
                <div class="cs-logs">
                  <div class="cs-checkbox">
                    <div class="checkbox-outer">
                      <section class="checkbox-inner">
                        <ng-container *ngFor="let list of asmList;let index=index">
                          <mat-radio-button class="check-list" name="user_id" (change)="user_assign_check(index)"
                            value="{{list.id}}" required>{{list.name}} |
                            {{list.role_name}}</mat-radio-button>
                        </ng-container>
                        <div class="alert alert-danger" *ngIf="userCheck &&  addActivity.submitted">
                          User is required...
                        </div>
                      </section>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div mat-dialog-actions>
      <button mat-button color="warn" [mat-dialog-close]="false">Cancel</button>
      <button mat-button color="accent">Save</button>
    </div>
  </form>

</div>