<div class="main-container" [@routerTransition]>
    <div class="middle-container">
      <div class="page-heading">
        <img src="assets/img/leads_icon.svg" class="h-icon">
        <div class="heading-text">
          <h2>Postal / Territory Master</h2>
          <p>Add New Location</p>
        </div>
      </div>
    </div>
    
    <div class="container-outer">
        <app-master-tab-list></app-master-tab-list>
    <div class="container tab-container" >
      <div class="row">
        <div class="col s12">
          <div class="cs-table left-right-20">
            <div class="table-head">
              <table class="sno-border">
                <tr>
                  <th class="w30">&nbsp;</th>
                  <th class="w150">Name</th>
                  <th>Description</th>
                  <th class="w350">Image</th>
                </tr>
              </table>
            </div>
            
            <div class="table-container">
              <div class="table-content">
                <table class="sno-border">
                  <tr>
                    <td class="w30">1</td>
                    <td class="w150"><a class="link-btn" mat-button>Example xyz</a></td>
                    <td>Lorem Ipsum is simply dummy text.</td>
                    <td class="w350">
                        <div class="tags">
                            <ul>
                              <li>
                                <img src="assets/img/img1.png">
                              </li>
                              <li>
                                  <img src="assets/img/img2.png">
                              </li>
                              <li>
                                  <img src="assets/img/img3.png">
                              </li>
                            </ul>
                          </div>
                    </td>
                  </tr>
                  <tr>
                      <td>2</td>
                      <td><a class="link-btn" mat-button>Example xyz</a></td>
                      <td>Lorem Ipsum is simply dummy text.</td>
                      <td>
                          <div class="tags">
                              <ul>
                                <li>
                                  <img src="assets/img/img1.png">
                                </li>
                                <li>
                                    <img src="assets/img/img2.png">
                                </li>
                                <li>
                                    <img src="assets/img/img3.png">
                                </li>
                              </ul>
                            </div>
                      </td>
                    </tr>
             
                </table>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>