<!-- <div class="edit-modal" *ngIf="data.type =='address' && data.type !='discount' && data.type !='edit' && data.type !='add' "> -->
  <div class="edit-modal" *ngIf="data.type =='basic_information2' ">
    <form #update_basic="ngForm" name="update_basic"
    (ngSubmit)="(update_basic.valid && update_basic.submitted)?update_address():''" validate>
    <div mat-dialog-content>
      <p class="heading">Update Address</p>
      <div class="cs-form">
        <div class="row">
          <div class="col s12">
            <mat-form-field class="cs-input" appearance="outline">
              <mat-label>Street</mat-label>
              <textarea matInput placeholder="Address" name="address" #address="ngModel" value={{lead_data2.address}}
              [(ngModel)]="lead_data2.address" [ngClass]="{'has-error' : address.invalid } " class="h70"></textarea>
            </mat-form-field>
          </div>
        </div>
        <div class="three-col-grid">
          <mat-form-field class="cs-input" appearance="outline">
            <mat-label>State</mat-label>
            <mat-select name="state" placeholder="" #state="ngModel" [(ngModel)]="lead_data2.state"
            [ngClass]="{'has-error' : state.invalid } " required>
            <div class="search-block">
              <input type="text" name="State_name" placeholder="Search.." (input)="filter_state(state_name)" #State_name="ngModel" [(ngModel)]="state_name">
            </div>
            <!-- <mat-option disabled="">Select State</mat-option> -->
            <mat-option *ngFor="let state of state_list" (click)="getDistrict(lead_data2.state, 2)"
            (keyup.enter)="getDistrict(lead_data2.state, 2)" value="{{state}}">{{state}}</mat-option>
          </mat-select>
          <div class="alert alert-danger" *ngIf="!lead_data2.state && update_basic.submitted">
            State is required....
          </div>
        </mat-form-field>
        
        <mat-form-field class="cs-input" appearance="outline">
          <mat-label>District</mat-label>
          <mat-select name="district" placeholder="District" #district="ngModel" [(ngModel)]="lead_data2.district"
          [ngClass]="{'has-error' : district.invalid } " >
          <div class="search-block">
            <input type="text" name="District_name" placeholder="Search.." (input)="filter_district(district_name)" #District_name="ngModel" [(ngModel)]="district_name">
          </div>
          <!-- <mat-option disabled="">Select District</mat-option> -->
          <mat-option *ngFor="let district of district_list"
          (click)="getCityAreaList(lead_data2.district,lead_data2.state, 2)"
          (keyup.enter)="getCityAreaList(lead_data2.district,lead_data2.state, 2)" value="{{district}}">
          {{district}}</mat-option>
        </mat-select>
        
      </mat-form-field>
      
      <div class="">
        <mat-form-field class="cs-input" appearance="outline">
          <mat-label>City</mat-label>
          <mat-select name="city" placeholder="City" #city="ngModel" [(ngModel)]="lead_data2.city"
          [ngClass]="{'has-error' : city.invalid } " >
          <div class="search-block">
            <input type="text" name="City_name" placeholder="Search.." (input)="filter_city(city_name)" #City_name="ngModel" [(ngModel)]="city_name">
          </div>
          <mat-option disabled="">Select City</mat-option>
          <mat-option *ngFor="let city of city_list"
          (keyup.enter)="getPinCodeList(lead_data2.state,lead_data2.district,lead_data2.city, 2)"
          (click)="getPinCodeList(lead_data2.state,lead_data2.district,lead_data2.city, 2)" value="{{city}}">
          {{city}}</mat-option>
          
        </mat-select>
        
      </mat-form-field>
    </div>
    
  </div>
  <br>
  <div class="three-col-grid">
    <div class="">
      <mat-form-field class="cs-input" appearance="outline">
        <mat-label>Pincode</mat-label>
        <mat-select name="pincode" placeholder="Pincode" #pincode="ngModel" [(ngModel)]="lead_data2.pincode"
        [ngClass]="{'has-error' : pincode.invalid } " >
        <mat-option disabled="">Select pincode</mat-option>
        <mat-option *ngFor="let pincode of pinCode_list" value="{{pincode}}">{{pincode}}</mat-option>
        
      </mat-select>
      
    </mat-form-field>
  </div>
  
  <div class="col s6">
    <mat-form-field class="cs-input" appearance="outline">
      <mat-label>Area</mat-label>
      <mat-select name="cityArea" placeholder="" #cityArea="ngModel" [(ngModel)]="lead_data2.cityArea"
      [ngClass]="{'has-error' : cityArea.invalid } ">
      <mat-option disabled="">Select Area</mat-option>
      <mat-option *ngFor="let cityArea of cityAreaList" value="{{cityArea}}">{{cityArea}}</mat-option>
    </mat-select>
    
  </mat-form-field>
</div>

</div>

<br>

</div>
</div>
<div mat-dialog-actions>
  <button mat-button color="warn" [mat-dialog-close]="false">Cancel</button>
  <button mat-button color="accent" type="submit">Save</button>
</div>
</form>

</div>






<div class="edit-modal" *ngIf="data.type =='basic_information' ">
  <form #update_basic="ngForm" name="update_basic"
  (ngSubmit)="(update_basic.valid && update_basic.submitted)?update_detail(lead_data):''" validate>
  <div mat-dialog-content>
    <p class="heading">Update Basic Detail</p>
    <div class="cs-form">
      
      <div class="row">
        <div class="col s3">
          <mat-form-field class="cs-input" appearance="outline">
            <mat-label  *ngIf="lead_data.type!='17'">Company Name</mat-label>
            <mat-label  *ngIf="lead_data.type=='17'">Site Name</mat-label>

            <input matInput placeholder="Type Here ..." type="text" name="company_name" #company_name="ngModel"
            [(ngModel)]="lead_data.company_name" required>
          </mat-form-field>
          <div class="alert alert-danger" *ngIf="!company_name.valid && company_name.touched">
            Company Name is required...
          </div>
        </div>
        <div class="col s3">
          <mat-form-field class="cs-input" appearance="outline">
            <mat-label *ngIf="lead_data.type!='17'">Name</mat-label>
            <mat-label  *ngIf="lead_data.type=='17'">Site Person Name</mat-label>

            <input matInput placeholder="Type Here ..." type="text" name="name" #name="ngModel"
            [(ngModel)]="lead_data.name" required>
          </mat-form-field>
          <div class="alert alert-danger" *ngIf="!name.valid && name.touched">
            Name is required...
          </div>
        </div>
        <div class="col s3">
          <mat-form-field class="cs-input" appearance="outline">
            <mat-label  *ngIf="lead_data.type!='17'">Mobile NO.</mat-label>
            <mat-label   *ngIf="lead_data.type=='17'">Site Person Mobile No.</mat-label>

            <input matInput placeholder="Type Here ..." name="mobile" #mobile="ngModel" minlength="10" maxlength="10" [(ngModel)]="lead_data.mobile"
            required (keypress)="MobileNumber($event)">
          </mat-form-field>
          <div class="alert alert-danger" *ngIf="!mobile.valid && mobile.touched">
            Mobile number is required...
          </div>
        </div>
        <div class="col s3">
          <mat-form-field class="cs-input" appearance="outline">
            <mat-label>Whatsapp NO.</mat-label>
            <input matInput placeholder="Type Here ..." name="whatsapp_no" #whatsapp_no="ngModel" minlength="10" maxlength="10" [(ngModel)]="lead_data.whatsapp_no"
            (keypress)="MobileNumber($event)">
          </mat-form-field>
          <div class="alert alert-danger" *ngIf="!whatsapp_no.valid && whatsapp_no.touched">
            Whatsapp number is required...
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col s3">
          <mat-form-field class="cs-input" appearance="outline">
            <mat-label>Email ID</mat-label>
            <input type="email" matInput placeholder="Type Here ..." name="email" #email="ngModel"
            [(ngModel)]="lead_data.email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
          </mat-form-field>
          <div class="alert alert-danger" *ngIf="!email.valid && email.touched">
            Email is invaild...
          </div>
        </div>
        <div class="col s3">
          <mat-form-field class="cs-input" appearance="outline">
            <mat-label>GST No.</mat-label>
            <input matInput placeholder="Type Here ..." name="gst" #gst="ngModel" onkeypress="return ((event.charCode >= 48 && event.charCode <= 57) || (event.charCode >= 97 && event.charCode <= 122) || (event.charCode >= 65 && event.charCode <= 90))" [(ngModel)]="lead_data.gst">
          </mat-form-field>
        </div>
        <div class="col s3">
          <mat-form-field class="cs-input" appearance="outline">
            <mat-label>Stage</mat-label>
            <mat-select placeholder="Type Here ..." name="stage" #stage="ngModel" [(ngModel)]="lead_data.stage">
              <mat-option disabled="">Select Category</mat-option>
              <mat-option value="Hot">Hot</mat-option>
              <mat-option value="Cold">Cold</mat-option>
              <mat-option value="Warm">Warm</mat-option>
              <mat-option value="Close">Close</mat-option>
              <mat-option value="Lead">Lead</mat-option>
              
            </mat-select>
          </mat-form-field>
          <div class="alert alert-danger" *ngIf="!stage.valid && stage.touched">
            Category is required...
          </div>
        </div>
        <div class="col s3">
          <!-- <mat-form-field class="cs-input" appearance="outline">
            <mat-label>Lead Type</mat-label>
            <mat-select placeholder="Type Here ..." name="type" #stage="ngModel" [(ngModel)]="lead_data.type">
              <mat-option disabled="">Select Category</mat-option>
              <mat-option value="1">Distributors/Dealers</mat-option>
              <mat-option value="3">Retailers</mat-option>
              <mat-option value="9">Project</mat-option>
              
              <mat-option value="5">End User</mat-option>
              <mat-option value="10">G+4</mat-option>
              <mat-option value="11">Architect</mat-option>
              
            </mat-select>
          </mat-form-field> -->
          <div class="alert alert-danger" *ngIf="!stage.valid && stage.touched">
            Category is required...
          </div>
        </div>
        
        
        <div class="col s3">
          <mat-form-field class="cs-input" appearance="outline">
            <mat-label>Source</mat-label>
            <mat-select placeholder="Type Here ..." name="source" #source_type="ngModel"
            [(ngModel)]="lead_data.source">
            <mat-option disabled="">Select Source</mat-option>
            <mat-option value="Website">Website</mat-option>
            <mat-option value="Call">Call</mat-option>
            <mat-option value="Facebook">Facebook</mat-option>
            <mat-option value="Walk-in">Walk-in</mat-option>
            <mat-option value="Tradeindia">Tradeindia</mat-option>
            <mat-option value="Indiamart">Indiamart</mat-option>
            <mat-option value="JustDial">JustDial</mat-option>
            <mat-option value="SMS">SMS</mat-option>
            <mat-option value="Toll Free">Toll Free</mat-option>
            <mat-option value="Others">Others</mat-option>
            
          </mat-select>
        </mat-form-field>
        <div class="alert alert-danger" *ngIf="!source_type.valid && source_type.touched">
          Source is required...
        </div>
      </div>
      
    </div>
    
    <div class="row">
      <div class="col s6">
        <mat-form-field class="cs-input" appearance="outline" >
          <mat-label>D.O.B</mat-label>
          <input  matInput placeholder="Type Here ..." name="date_of_birth" #date_of_birth="ngModel" [(ngModel)]="lead_data.date_of_birth"  [matDatepicker]="picker"  [max]="today_date" disabled >
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker  disabled="false"></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col s6">
        <mat-form-field class="cs-input" appearance="outline" >
          <mat-label>D.O.A</mat-label>
          <input matInput placeholder="Type Here ..." name="date_of_anniversary" #date_of_anniversary="ngModel" [(ngModel)]="lead_data.date_of_anniversary"   [matDatepicker]="pickers" [min]="lead_data.date_of_birth" [max]="today_date"  disabled>
          <mat-datepicker-toggle matSuffix [for]="pickers"></mat-datepicker-toggle>
          <mat-datepicker #pickers  disabled="false"></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    
    
    <div class="row">
      
      <div class="col s4">
        
        <div class="row">
          <div class="col s12">
            <mat-form-field class="cs-input" appearance="outline">
              <mat-label>Status</mat-label>
              <mat-select placeholder="Type Here ..." name="status" #status="ngModel" [(ngModel)]="lead_data.status"
              required>
              <mat-option disabled="">Select Status</mat-option>
              <mat-option value="leadBank">Lead Bank</mat-option>
              <mat-option value="validate">Validate</mat-option>
              <mat-option value="qualified">Qualified</mat-option>
              <mat-option value="disqualified">Disqualified</mat-option>
              <mat-option value="win">Win</mat-option>
              <mat-option value="lost">Lost</mat-option>
              <mat-option value="On Hold">On Hold</mat-option>
              <mat-option value="Finalized">Finalized</mat-option>
              <mat-option value="Need To Send Quotation">Need To Send Quotation</mat-option>
              <mat-option value="Wrong Number">Wrong Number</mat-option>
              <mat-option value="Ringing">Ringing</mat-option>
              <mat-option value="Complaint">Complaint</mat-option>
              <mat-option value="Not Connected">Not Connected</mat-option>
              <mat-option value="Canceled Requirement">Canceled Requirement</mat-option>
              
              
              
            </mat-select>
          </mat-form-field>
          <div class="alert alert-danger" *ngIf="!status.valid && status.touched">
            Status is required...
          </div>
          
          <br>
          
          <!-- <div class="alert alert-danger" *ngIf="!status.valid && status.touched">
            Status is required...
          </div> -->
          
        </div>
        
        
        <!-- <mat-form-field class="cs-input" appearance="outline" *ngIf = "lead_type_id == '12'">
          <mat-label>Change Lead</mat-label>
          <mat-select placeholder="Type Here ..." name="change_lead" #status="ngModel" [(ngModel)]="lead_data.change_lead">
            <mat-option disabled="">Select Lead</mat-option>
            <mat-option value="1">Distributor/Dealer</mat-option>
            <mat-option value="3">Reatiler</mat-option>
            <mat-option value="9">Project</mat-option>
            <mat-option value="5">End User</mat-option>
            <mat-option value="10">G+4</mat-option>
            <mat-option value="11">Architect</mat-option>
          </mat-select>
        </mat-form-field> -->
        
      </div>
      
      <div class="row">
        <div class="col s12">
          <!-- <mat-form-field class="cs-input" appearance="outline" *ngIf = "lead_type_id == '12'"> -->
          <mat-form-field class="cs-input" appearance="outline">
            <mat-label>Change Lead</mat-label>
            <mat-select placeholder="Type Here ..." name="change_lead" #status="ngModel" [(ngModel)]="lead_data.change_lead">
              <mat-option disabled="">Select Lead</mat-option>
              <mat-option value="1">Distributor/Dealer</mat-option>
              <mat-option value="3">Reatiler</mat-option>
              <mat-option value="9">Project</mat-option>
              <mat-option value="5">End User</mat-option>
              <mat-option value="10">Contractor</mat-option>
              <mat-option value="11">Architect</mat-option>
              <mat-option value="13">Builder</mat-option>
              <mat-option value="14">Cement Dealer</mat-option>
              <mat-option value="15">Customer</mat-option>
              <mat-option value="16">Others</mat-option>
              <mat-option value="17">Site Visit</mat-option>


            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="col s8">
      <mat-form-field class="cs-input" appearance="outline">
        <mat-label>Description</mat-label>
        <textarea matInput placeholder="Type Here ..." name="description" #description="ngModel" class="h65"
        [(ngModel)]="lead_data.description"></textarea>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col s12" *ngIf="lead_data.change_lead=='17'">
      <!-- <mat-form-field class="cs-input" appearance="outline" *ngIf = "lead_type_id == '12'"> -->
        <mat-form-field class="cs-input" appearance="outline">
          <mat-label>Contractor Type</mat-label>
          
          <mat-select name="contractor_type" #contractor_type="ngModel" [(ngModel)]="lead_data.contractor_type"
          required>
          <mat-option disabled="">Select Type</mat-option>
          <mat-option value="Pop Contractor">POP Contractor</mat-option>
          <mat-option value=" Paint Contractors">Paint Contractor</mat-option>
          <mat-option value="Tile Adhesive Contractor">Tile Adhesive Contractor</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</div>
</div>
<div mat-dialog-actions>
  <button mat-button color="warn" [mat-dialog-close]="false">Cancel</button>
  <button mat-button color="accent" type="submit">Save</button>
  <!-- [disabled]='!value.valid' -->
</div>
</form>
</div>




<!--  -->
<!-- <div class="edit-modal" *ngIf="data.type =='discount' && data.type != 'address' && data.type !='edit'  && data.type !='add'">
  <div mat-dialog-content>
    <p class="heading">Update Discount</p>
    <mat-form-field class="example-full-width wp100 cs-field">
      <input matInput placeholder="" name="user" #user="ngModel" [(ngModel)]="data.value"  [ngClass]="{'has-error' : user.invalid } " required>
      <div class="alert alert-danger" *ngIf="!user.valid && user.touched">
        field is required....
      </div>
    </mat-form-field>
    <mat-form-field class="example-full-width wp100 cs-field">
      <input matInput placeholder="" name="user" #user="ngModel" [(ngModel)]="data.value"  [ngClass]="{'has-error' : user.invalid } " required>
      <div class="alert alert-danger" *ngIf="!user.valid && user.touched">
        field is required....
      </div>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="false">Cancel</button>
    <div *ngIf="user.valid">
      <button mat-button (click)="update_address()">Save</button>
    </div>
  </div>
</div>


<div class="edit-modal" *ngIf="data.type !='address' && data.type !='mobile' && data.type !='dr_name' && data.type !='whatsapp_no' && data.type !='email' && data.type !='discount' && data.type !='edit' && data.type !='add' && data.type !='gst' && data.type !='companyname'">
  <div mat-dialog-content>
    <p class="heading">Update Landline No</p>
    <div class="cs-form">
      <div class="row">
        <div class="col s12">
          <mat-form-field class="cs-input" appearance="outline">
            <mat-label>Landline No.</mat-label>
            <input matInput placeholder="Type Here ..." type="tel" minlength="6" maxlength="10"  name="value" #value="ngModel" [(ngModel)]="data.value" required (keypress)="MobileNumber($event)">
          </mat-form-field>
          <div class="alert alert-danger" *ngIf="!value.valid && value.touched">
            Landline No is invalid...
          </div>
        </div>
      </div>
    </div>
    
  </div>
  <div mat-dialog-actions>
    <button mat-button color="warn" [mat-dialog-close]="false">Cancel</button>
    <button mat-button color="accent" (click)="update_address(data)" [disabled]='!value.valid'>Save</button>
  </div>
</div> -->


<!-- <div class="edit-modal" *ngIf="data.type !='address' && data.type !='landline_no' && data.type =='email' && data.type !='whatsapp_no' && data.type !='discount' && data.type !='edit' && data.type !='add' && data.type !='gst'">
  <div mat-dialog-content>
    <p class="heading">Update Email</p>
    <div class="cs-form">
      <div class="row">
        <div class="col s12">
          <mat-form-field class="cs-input" appearance="outline">
            <mat-label>Email ID</mat-label>
            <input matInput placeholder="Type Here ..." type="email"   name="value" #value="ngModel" [(ngModel)]="data.value"  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"  required>
          </mat-form-field>
          <div class="alert alert-danger" *ngIf="!value.valid && value.touched">
            Email is invalid...
          </div>
        </div>
      </div>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button color="warn" [mat-dialog-close]="false">Cancel</button>
    <button mat-button color="accent" (click)="update_address(data)" [disabled]='!value.valid'>Save</button>
  </div>
</div> -->

<!-- 
  <div class="edit-modal" *ngIf="data.type !='address' && data.type =='mobile' && data.type !='landline_no' && data.type !='email' && data.type !='whatsapp_no' && data.type !='discount' && data.type !='edit' && data.type !='add' && data.type !='gst'">
    <div mat-dialog-content>
      <p class="heading">Update Mobile</p>
      <div class="cs-form">
        <div class="row">
          <div class="col s12">
            <mat-form-field class="cs-input" appearance="outline">
              <mat-label>Mobile Number</mat-label>
              <input matInput placeholder="" type="number"   name="value" #value="ngModel" [(ngModel)]="data.value"  (keypress)="MobileNumber($event)" maxlength="10" minlength="10" required>
            </mat-form-field>
            <div class="alert alert-danger" *ngIf="!value.valid && value.touched">
              Mobile no. must be 10 digits...
            </div>
          </div>
        </div>
      </div>
    </div>
    <div mat-dialog-actions>
      <button mat-button color="warn" [mat-dialog-close]="false">Cancel</button>
      <button mat-button  color="accent" (click)="update_address(data)" [disabled]='!value.valid'>Save</button>
    </div>
  </div> -->
  
  <!-- <div class="edit-modal" *ngIf="data.type=='dr_name'">
    <div mat-dialog-content>
      <p class="heading">Update Name</p>
      <div class="cs-form">
        <div class="row">
          <div class="col s12">
            <mat-form-field class="cs-input" appearance="outline">
              <mat-label>Name</mat-label>
              <input matInput placeholder="Type Here ..." type="text"   name="value" #value="ngModel" [(ngModel)]="data.value"    required>
            </mat-form-field>
            <div class="alert alert-danger" *ngIf="!value.valid && value.touched">
              Name is required...
            </div>
          </div>
        </div>
      </div>
    </div>
    <div mat-dialog-actions>
      <button mat-button color="warn" [mat-dialog-close]="false">Cancel</button>
      <button mat-button color="accent" (click)="update_address(data)" [disabled]='!value.valid'>Save</button>
    </div>
  </div> -->
  
  
  <!-- update company_name -->
  <!-- <div class="edit-modal" *ngIf="data.type=='companyname'">
    <div mat-dialog-content>
      <p class="heading">Update Company Name</p>
      <div class="cs-form">
        <div class="row">
          <div class="col s12">
            <mat-form-field class="cs-input" appearance="outline">
              <mat-label>Company Name</mat-label>
              <input matInput placeholder="" type="text"   name="value" #value="ngModel" [(ngModel)]="data.value"    required>
            </mat-form-field>
            <div class="alert alert-danger" *ngIf="!value.valid && value.touched">
              Company Name is required...
            </div>
          </div>
        </div>
      </div>
    </div>
    <div mat-dialog-actions>
      <button mat-button color="warn" [mat-dialog-close]="false">Cancel</button>
      <button mat-button color="accent" (click)="update_address(data)" [disabled]='!value.valid'>Save</button>
    </div>
  </div> -->
  
  
  <!-- update company_name -->
  <!-- <div class="edit-modal" *ngIf="data.type !='address' &&data.type !='landline_no' &&data.type =='whatsapp_no' && data.type !='discount' && data.type !='edit' && data.type !='add' && data.type !='gst'">
    <div mat-dialog-content>
      <p class="heading">Update Whatsapp No.</p>
      <div class="cs-form">
        <div class="row">
          <div class="col s12">
            <mat-form-field class="cs-input" appearance="outline">
              <mat-label>Whatsapp No </mat-label>
              <input matInput placeholder="Type Here ..." minlength="10" maxlength="10" name="value" #value="ngModel" (keypress)="MobileNumber($event)" [(ngModel)]="data.value" required>
            </mat-form-field>
            <div class="alert alert-danger" *ngIf="!value.valid && value.touched">
              Whatsapp No is invalid...
            </div>
          </div>
        </div>
      </div>
      
    </div>
    <div mat-dialog-actions>
      <button mat-button color="warn" [mat-dialog-close]="false">Cancel</button>
      <button mat-button color="accent" (click)="update_address(data)" [disabled]='!value.valid'>Save</button>
    </div>
  </div> -->
  
  <!-- <div class="edit-modal" *ngIf="data.type =='gst' && data.type !='discount' && data.type !='landline_no'  && data.type !='address' && data.type !='edit' && data.type !='add'">
    <div mat-dialog-content>
      <p class="heading">Update GST</p>
      <div class="cs-form">
        <div class="row">
          <div class="col s12">
            <mat-form-field class="cs-input" appearance="outline">
              <mat-label>GST No.</mat-label>
              <input matInput placeholder="Type Here ..." name="value" maxlength="20" #value="ngModel" [(ngModel)]="data.value" required>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
    <div mat-dialog-actions>
      <button mat-button color="warn" [mat-dialog-close]="false">Cancel</button>
      <button mat-button color="accent" (click)="update_address(data)" >Save</button>
    </div>
  </div> -->
  
  <!-- 
    <div class="edit-modal" *ngIf="data.type=='edit' && data.type !='address' && data.type !='discount' && data.type !='add'&& data.type !='gst' ">
      <div mat-dialog-content>
        <div class="from-fields">
          <p class="heading">Update Address</p>
          <div class="col s12">          
            <div class="row">
              <div class="col s4">
                <div class="control-field">
                  <mat-form-field class="cs-input" appearance="outline">
                    <input matInput placeholder="Name">
                  </mat-form-field>
                </div>
              </div>
              <div class="col s4 ">
                <div class="control-field">
                  <mat-form-field class="cs-input" appearance="outline">
                    <input matInput placeholder="Mobile 1">
                  </mat-form-field>
                </div>
              </div>
              <div class="col s4 ">
                <div class="control-field">
                  <mat-form-field class="cs-input" appearance="outline">
                    <input matInput placeholder="Mobile 2">
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div mat-dialog-actions>
        <button mat-button color="warn" [mat-dialog-close]="false">Cancel</button>
        <button mat-button color="accent">Save</button>
      </div>
    </div> -->